<css src="./product-single.css"></css>
<main class="main-wrapper">
  <div class="product-card">
    <div class="product-image-container">
      <div class="image-wrapper">
        <img src="images/product-thumb-1.png" alt="LED Downlight" />
      </div>
    </div>
    <div class="product-details">
      <span class="category-title">LIGHT FIXTURES</span>
      <h1 class="product-title">6" and 8" Down Lights</h1>
      <div class="price">
        <span class="current-price">$49.99 USD</span>
        <span class="old-price">$79.99 USD</span>
      </div>
      <p class="product-description">
        Upgrade your space with our 6" and 8" LED downlights, designed for
        modern ceilings with bright, energy-efficient illumination, long
        lifespan, and easy installation for residential or commercial use.
      </p>
      <!-- <div class="divider"></div>
      <div class="options">
        <div class="option-item">
          <label>
            <input type="checkbox" checked />
            <span class="option-text">Light Installation</span>
          </label>
          <span class="option-price">$49.99 USD</span>
        </div>
        <div class="option-item">
          <label>
            <input type="checkbox" />
            <span class="option-text">Light Maintenance</span>
          </label>
          <span class="option-price">$49.99 USD</span>
        </div>
      </div>
      <div class="divider"></div> -->
      <!-- Button -->
      <div data-w-id="1cff5e29-e2cf-50d6-3871-1ee4c038a66f" style="
          opacity: 0;
          -webkit-transform: translate3d(0, 15%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 15%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 15%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 15%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        " class="hero_buttons-wrap">
        <div class="button-wrapper">
          <a data-wf--primary-button--variant="with-icon" data-w-id="" href="/contact"
            class="button is-primary w-inline-block">
            <div class="button-text-wrap">
              <div class="button-text is-firts">
                Request Purchase Details Now!
              </div>
              <div class="button-text is-second"></div>
              <div class="button-shadow-up"></div>
              <div class="button-shadow-down"></div>
            </div>
            <img loading="lazy" src="images/6776d41eecd929e7c8296552_arrow%20right.svg" alt=""
              class="button-icon w-variant-0430e78c-6198-4121-8bff-0731d31f0de9" />
          </a>
        </div>
      </div>
    </div>
  </div>
</main>