.our-company-team {
  --bg-color--bg-secondary: var(--brand--neutral-light);
  --text-color--text-primary: var(--brand--black);
  --text-color--text-secondary: var(--brand--neutral);
  --brand--primary: #083630;
  --bg-color--bg-primary: var(--brand--neutral-lighter);
  --brand--soft-white: #fffc;
  --brand--neutral-light: #dad6c9;
  --brand--gray: #787878;
  --border-color--border-primary: #efeff2;
  --brand--neutral-lighter: #efeeeb;
  --bg-color--bg-tertiary: var(--brand--neutral-dark);
  --brand--white: #fff;
  --brand--secondary: #fb4d17;
  --brand--black: #000;
  --bg-color--bg-alternate: var(--brand--primary);
  --brand--light-gray: #fafafa;
  --brand--neutral-dark: #111;
  --brand--primary-light: #1f514a;
  --brand--opaque-white: #ffffff80;
  --brand--neutral: #11111180;
  --border-color--border-secondary: #d4d4d8;
  --border-color--border-alternate: white;
  --link-color--link-primary: var(--brand--black);
  --link-color--link-alternate: white;
  --text-color--text-tertiary: var(--brand--soft-white);

  a {
    background-color: #0000;
  }

  a:active,
  a:hover {
    outline: 0;
  }

  img {
    border: 0;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  @font-face {
    font-family: webflow-icons;
    src: url("data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SBiUAAAC8AAAAYGNtYXDpP+a4AAABHAAAAFxnYXNwAAAAEAAAAXgAAAAIZ2x5ZmhS2XEAAAGAAAADHGhlYWQTFw3HAAAEnAAAADZoaGVhCXYFgQAABNQAAAAkaG10eCe4A1oAAAT4AAAAMGxvY2EDtALGAAAFKAAAABptYXhwABAAPgAABUQAAAAgbmFtZSoCsMsAAAVkAAABznBvc3QAAwAAAAAHNAAAACAAAwP4AZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpAwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAQAAAAAwACAACAAQAAQAg5gPpA//9//8AAAAAACDmAOkA//3//wAB/+MaBBcIAAMAAQAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEBIAAAAyADgAAFAAAJAQcJARcDIP5AQAGA/oBAAcABwED+gP6AQAABAOAAAALgA4AABQAAEwEXCQEH4AHAQP6AAYBAAcABwED+gP6AQAAAAwDAAOADQALAAA8AHwAvAAABISIGHQEUFjMhMjY9ATQmByEiBh0BFBYzITI2PQE0JgchIgYdARQWMyEyNj0BNCYDIP3ADRMTDQJADRMTDf3ADRMTDQJADRMTDf3ADRMTDQJADRMTAsATDSANExMNIA0TwBMNIA0TEw0gDRPAEw0gDRMTDSANEwAAAAABAJ0AtAOBApUABQAACQIHCQEDJP7r/upcAXEBcgKU/usBFVz+fAGEAAAAAAL//f+9BAMDwwAEAAkAABcBJwEXAwE3AQdpA5ps/GZsbAOabPxmbEMDmmz8ZmwDmvxmbAOabAAAAgAA/8AEAAPAAB0AOwAABSInLgEnJjU0Nz4BNzYzMTIXHgEXFhUUBw4BBwYjNTI3PgE3NjU0Jy4BJyYjMSIHDgEHBhUUFx4BFxYzAgBqXV6LKCgoKIteXWpqXV6LKCgoKIteXWpVSktvICEhIG9LSlVVSktvICEhIG9LSlVAKCiLXl1qal1eiygoKCiLXl1qal1eiygoZiEgb0tKVVVKS28gISEgb0tKVVVKS28gIQABAAABwAIAA8AAEgAAEzQ3PgE3NjMxFSIHDgEHBhUxIwAoKIteXWpVSktvICFmAcBqXV6LKChmISBvS0pVAAAAAgAA/8AFtgPAADIAOgAAARYXHgEXFhUUBw4BBwYHIxUhIicuAScmNTQ3PgE3NjMxOAExNDc+ATc2MzIXHgEXFhcVATMJATMVMzUEjD83NlAXFxYXTjU1PQL8kz01Nk8XFxcXTzY1PSIjd1BQWlJJSXInJw3+mdv+2/7c25MCUQYcHFg5OUA/ODlXHBwIAhcXTzY1PTw1Nk8XF1tQUHcjIhwcYUNDTgL+3QFt/pOTkwABAAAAAQAAmM7nP18PPPUACwQAAAAAANciZKUAAAAA1yJkpf/9/70FtgPDAAAACAACAAAAAAAAAAEAAAPA/8AAAAW3//3//QW2AAEAAAAAAAAAAAAAAAAAAAAMBAAAAAAAAAAAAAAAAgAAAAQAASAEAADgBAAAwAQAAJ0EAP/9BAAAAAQAAAAFtwAAAAAAAAAKABQAHgAyAEYAjACiAL4BFgE2AY4AAAABAAAADAA8AAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADQAAAAEAAAAAAAIABwCWAAEAAAAAAAMADQBIAAEAAAAAAAQADQCrAAEAAAAAAAUACwAnAAEAAAAAAAYADQBvAAEAAAAAAAoAGgDSAAMAAQQJAAEAGgANAAMAAQQJAAIADgCdAAMAAQQJAAMAGgBVAAMAAQQJAAQAGgC4AAMAAQQJAAUAFgAyAAMAAQQJAAYAGgB8AAMAAQQJAAoANADsd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzUmVndWxhcgBSAGUAZwB1AGwAYQByd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==")
      format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  * {
    box-sizing: border-box;
  }

  img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
  }

  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }

  h2,
  h3 {
    margin-bottom: 10px;
    font-weight: bold;
  }

  h2 {
    margin-top: 20px;
    font-size: 32px;
    line-height: 36px;
  }

  h3 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 30px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
  }

  a {
    color: inherit;
    font-size: 1rem;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    display: inline-block;
  }

  .text-color-secondary {
    color: var(--text-color--text-secondary);
  }

  .padding-global {
    padding-left: 3.62rem;
    padding-right: 3.62rem;
  }

  .text-weight-medium {
    font-weight: 500;
  }

  .text-base {
    font-size: 1rem;
    line-height: 1.5;
  }

  .text-lg {
    letter-spacing: -0.03em;
    font-size: 1.125rem;
    line-height: 1.55;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .container-large {
    width: 100%;
    max-width: 72.25rem;
    margin-left: auto;
    margin-right: auto;
  }

  .text-2xl {
    letter-spacing: -0.06em;
    font-size: 1.5rem;
    line-height: 1.33;
  }

  .text-5xl {
    letter-spacing: -0.06em;
    font-size: 3rem;
    line-height: 1.16;
  }

  .img-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    border: solid 3px #764dcb;
  }

  .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
    transition: all 0.3s ease;

    // &:hover {
    //   cursor: pointer;
    //   filter: brightness(0.8) !important;
    // }
  }

  .temlis {
    grid-column-gap: 1.37rem;
    grid-row-gap: 1.37rem;
    color: #fff;
    background-color: #0158ff;
    border: 1px solid #126df299;
    border-radius: 0.75rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25rem 1.25rem;
    transition: background-color 0.2s;
    display: flex;
  }

  .temlis:hover {
    background-color: #0b64e6;
  }

  .content-wrap {
    grid-column-gap: 3.75rem;
    grid-row-gap: 3.75rem;
    flex-flow: column;
    flex: 1;
    display: flex;
  }

  .section_team {
    // background-color: var(--bg-color--bg-primary);
    background-color: #eeeeee;
    border-radius: 1.5rem;
    overflow: clip;
  }

  .team_header {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
  }

  .team_title {
    max-width: 21.8125rem;

    h2 {
      color: #111111;
    }
  }

  .team_description {
    max-width: 50.1875rem;
  }

  .team_grid {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .team_card-visual {
    border-radius: 1.25rem;
    width: 100%;
    padding-top: 108%;
    position: relative;
    overflow: clip;
  }

  .img-wrapper {
    border-radius: inherit;
    position: absolute;
    inset: 0%;
    overflow: clip;
  }

  .team_card {
    position: relative;
  }

  .team_card-content {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    background-color: var(--brand--white);
    border-radius: 1rem;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1.5rem;
    display: flex;
    position: absolute;
    inset: auto 1rem 1rem;

    display: none; // disabled
  }

  .team_card-text {
    grid-column-gap: 0.25rem;
    grid-row-gap: 0.25rem;
    flex-flow: column;
    flex: 1;
    display: flex;
  }

  .team_card-link {
    border-radius: 99rem;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    transition: box-shadow 0.3s;
    display: flex;
    box-shadow: 0 0 0 1px #12376914;
  }

  .team_card-link:hover {
    box-shadow: 0 0 0 1px var(--brand--secondary);
  }

  .team_card-logo {
    width: 1.5rem;
    height: 1.5rem;
  }

  .team_card {
    cursor: pointer;
  }

  @media screen and (max-width: 991px) {
    .padding-global {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }

    .text-5xl {
      font-size: 2.75rem;
    }

    .content-wrap {
      grid-column-gap: 2.5rem;
      grid-row-gap: 2.5rem;
    }

    .section_team {
      border-radius: 1.25rem;
    }

    .team_description {
      max-width: 28.1rem;
    }

    .team_grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 767px) {
    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    .padding-global {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .padding-section-large {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    .text-5xl {
      font-size: 2.5rem;
    }

    .content-wrap {
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
    }

    .section_team {
      border-radius: 1rem;
    }

    .team_header {
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      text-align: center;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
    }

    .team_title,
    .team_description {
      max-width: none;
    }

    .team_grid {
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      width: 367%;
    }

    .team_card-visual {
      border-radius: 1rem;
    }

    .team_card-content {
      border-radius: 0.75rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .team_content {
      padding-bottom: 1rem;
      overflow: auto;
    }
  }

  @media screen and (max-width: 479px) {
    .container-large {
      max-width: 100%;
    }

    .text-5xl {
      font-size: 2rem;
    }

    .content-wrap {
      grid-column-gap: 1.75rem;
      grid-row-gap: 1.75rem;
      justify-content: center;
      align-items: stretch;
    }

    .team_grid {
      grid-column-gap: 0.5rem;
      grid-row-gap: 0.5rem;
      width: 570%;
    }

    .team_card-visual {
      border-radius: 0.75rem;
    }

    .team_card-content {
      bottom: 0.5rem;
      left: 0.5rem;
      right: 0.5rem;
    }
  }
}
