<css src="./team.scss"></css>

<div class="our-company-team">
  <div class="section_team">
    <div class="padding-global padding-section-large">
      <div class="container-large">
        <div class="content-wrap">
          <div class="team_header">
            <div data-w-id="dbe99070-4957-f92a-d62f-cd4035d6af89"
              style="
                    opacity: 1;
                    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  "
              class="team_title">
              <h2 class="text-5xl">Gallery</h2>
            </div>
            <div data-w-id="bd8d5d92-3b97-7abe-1e74-b053580587a1"
              style="
                    opacity: 1;
                    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  "
              class="team_description">
              <div class="text-lg text-color-secondary">

              </div>
            </div>
          </div>
          <div data-w-id="1c3fff62-0d54-7be3-ffb5-7762366e356d"
            class="team_content">
            <div class="team_grid">
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_1.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 1">
                      <img alt=""
                        src="/images/gallery/gallery_image_1.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_2.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 2">
                      <img alt=""
                        src="/images/gallery/gallery_image_2.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_3.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 3">
                      <img alt=""
                        src="/images/gallery/gallery_image_3.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_4.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 4">
                      <img alt=""
                        src="/images/gallery/gallery_image_4.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_5.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 5">
                      <img alt=""
                        src="/images/gallery/gallery_image_5.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_6.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 6">
                      <img alt=""
                        src="/images/gallery/gallery_image_6.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_10.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 10">
                      <img alt=""
                        src="/images/gallery/gallery_image_10.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_12.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 12">
                      <img alt=""
                        src="/images/gallery/gallery_image_12.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>

              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_14.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 14">
                      <img alt=""
                        src="/images/gallery/gallery_image_14.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_15.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 15">
                      <img alt=""
                        src="/images/gallery/gallery_image_15.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_16.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 16">
                      <img alt=""
                        src="/images/gallery/gallery_image_16.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_17.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 17">
                      <img alt=""
                        src="/images/gallery/gallery_image_17.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_18.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 18">
                      <img alt=""
                        src="/images/gallery/gallery_image_18.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_20.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 20">
                      <img alt=""
                        src="/images/gallery/gallery_image_20.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_21.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 21">
                      <img alt=""
                        src="/images/gallery/gallery_image_21.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>

              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_23.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 23">
                      <img alt=""
                        src="/images/gallery/gallery_image_23.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_24.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 24">
                      <img alt=""
                        src="/images/gallery/gallery_image_24.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_25.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 25">
                      <img alt=""
                        src="/images/gallery/gallery_image_25.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_26.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 26">
                      <img alt=""
                        src="/images/gallery/gallery_image_26.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_27.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 27">
                      <img alt=""
                        src="/images/gallery/gallery_image_27.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_28.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 28">
                      <img alt=""
                        src="/images/gallery/gallery_image_28.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_29.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 29">
                      <img alt=""
                        src="/images/gallery/gallery_image_29.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>


              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_32.png"
                      data-lightbox="gallery"
                      data-title="Gallery Image 32">
                      <img alt=""
                        src="/images/gallery/gallery_image_32.png"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>

              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_34.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 34">
                      <img alt=""
                        src="/images/gallery/gallery_image_34.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_35.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 35">
                      <img alt=""
                        src="/images/gallery/gallery_image_35.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_36.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 36">
                      <img alt=""
                        src="/images/gallery/gallery_image_36.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_37.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 37">
                      <img alt=""
                        src="/images/gallery/gallery_image_37.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_38.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 38">
                      <img alt=""
                        src="/images/gallery/gallery_image_38.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>


              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_42.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 42">
                      <img alt=""
                        src="/images/gallery/gallery_image_42.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_43.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 43">
                      <img alt=""
                        src="/images/gallery/gallery_image_43.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_44.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 44">
                      <img alt=""
                        src="/images/gallery/gallery_image_44.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>

              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_49.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 49">
                      <img alt=""
                        src="/images/gallery/gallery_image_49.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_50.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 50">
                      <img alt=""
                        src="/images/gallery/gallery_image_50.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>

              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_52.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 52">
                      <img alt=""
                        src="/images/gallery/gallery_image_52.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>

              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_54.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 54">
                      <img alt=""
                        src="/images/gallery/gallery_image_54.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_58.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 58">
                      <img alt=""
                        src="/images/gallery/gallery_image_58.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>

              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_59.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 59">
                      <img alt=""
                        src="/images/gallery/gallery_image_59.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>

              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_60.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 60">
                      <img alt=""
                        src="/images/gallery/gallery_image_60.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>

              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_61.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 61">
                      <img alt=""
                        src="/images/gallery/gallery_image_61.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>

              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_62.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 62">
                      <img alt=""
                        src="/images/gallery/gallery_image_62.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>


              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_63.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 63">
                      <img alt=""
                        src="/images/gallery/gallery_image_63.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>


               <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_64.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 64">
                      <img alt=""
                        src="/images/gallery/gallery_image_64.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>

              <div class="team_card">
                <div class="team_card-visual">
                  <div class="img-wrapper">
                    <a href="/images/gallery/gallery_image_65.jpeg"
                      data-lightbox="gallery"
                      data-title="Gallery Image 65">
                      <img alt=""
                        src="/images/gallery/gallery_image_65.jpeg"
                        class="img" />
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>