.blog-details-section {
  --bg-color--bg-secondary: var(--brand--neutral-light);
  --text-color--text-primary: var(--brand--black);
  --text-color--text-secondary: var(--brand--neutral);
  --brand--primary: #083630;
  --bg-color--bg-primary: var(--brand--neutral-lighter);
  --brand--soft-white: #fffc;
  --brand--neutral-light: #dad6c9;
  --brand--gray: #787878;
  --border-color--border-primary: #efeff2;
  --brand--neutral-lighter: #efeeeb;
  --bg-color--bg-tertiary: var(--brand--neutral-dark);
  --brand--white: #fff;
  --brand--secondary: #e6daff;
  --brand--black: #000;
  --bg-color--bg-alternate: var(--brand--primary);
  --brand--light-gray: #fafafa;
  --brand--neutral-dark: #111;
  --brand--primary-light: #1f514a;
  --brand--opaque-white: #ffffff80;
  --brand--neutral: #11111180;
  --border-color--border-secondary: #d4d4d8;
  --border-color--border-alternate: white;
  --link-color--link-primary: var(--brand--black);
  --link-color--link-alternate: white;
  --text-color--text-tertiary: var(--brand--soft-white);

  main,
  section {
    display: block;
  }

  a {
    background-color: #0000;
  }

  a:active,
  a:hover {
    outline: 0;
  }

  h1 {
    margin: 0.67em 0;
    font-size: 2em;
  }

  img {
    border: 0;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  button {
    color: inherit;
    font: inherit;
    margin: 0;
  }

  button {
    overflow: visible;
  }

  button {
    text-transform: none;
  }

  button {
    -webkit-appearance: button;
    cursor: pointer;
  }

  button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  @font-face {
    font-family: webflow-icons;
    src: url("data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SBiUAAAC8AAAAYGNtYXDpP+a4AAABHAAAAFxnYXNwAAAAEAAAAXgAAAAIZ2x5ZmhS2XEAAAGAAAADHGhlYWQTFw3HAAAEnAAAADZoaGVhCXYFgQAABNQAAAAkaG10eCe4A1oAAAT4AAAAMGxvY2EDtALGAAAFKAAAABptYXhwABAAPgAABUQAAAAgbmFtZSoCsMsAAAVkAAABznBvc3QAAwAAAAAHNAAAACAAAwP4AZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpAwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAQAAAAAwACAACAAQAAQAg5gPpA//9//8AAAAAACDmAOkA//3//wAB/+MaBBcIAAMAAQAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEBIAAAAyADgAAFAAAJAQcJARcDIP5AQAGA/oBAAcABwED+gP6AQAABAOAAAALgA4AABQAAEwEXCQEH4AHAQP6AAYBAAcABwED+gP6AQAAAAwDAAOADQALAAA8AHwAvAAABISIGHQEUFjMhMjY9ATQmByEiBh0BFBYzITI2PQE0JgchIgYdARQWMyEyNj0BNCYDIP3ADRMTDQJADRMTDf3ADRMTDQJADRMTDf3ADRMTDQJADRMTAsATDSANExMNIA0TwBMNIA0TEw0gDRPAEw0gDRMTDSANEwAAAAABAJ0AtAOBApUABQAACQIHCQEDJP7r/upcAXEBcgKU/usBFVz+fAGEAAAAAAL//f+9BAMDwwAEAAkAABcBJwEXAwE3AQdpA5ps/GZsbAOabPxmbEMDmmz8ZmwDmvxmbAOabAAAAgAA/8AEAAPAAB0AOwAABSInLgEnJjU0Nz4BNzYzMTIXHgEXFhUUBw4BBwYjNTI3PgE3NjU0Jy4BJyYjMSIHDgEHBhUUFx4BFxYzAgBqXV6LKCgoKIteXWpqXV6LKCgoKIteXWpVSktvICEhIG9LSlVVSktvICEhIG9LSlVAKCiLXl1qal1eiygoKCiLXl1qal1eiygoZiEgb0tKVVVKS28gISEgb0tKVVVKS28gIQABAAABwAIAA8AAEgAAEzQ3PgE3NjMxFSIHDgEHBhUxIwAoKIteXWpVSktvICFmAcBqXV6LKChmISBvS0pVAAAAAgAA/8AFtgPAADIAOgAAARYXHgEXFhUUBw4BBwYHIxUhIicuAScmNTQ3PgE3NjMxOAExNDc+ATc2MzIXHgEXFhcVATMJATMVMzUEjD83NlAXFxYXTjU1PQL8kz01Nk8XFxcXTzY1PSIjd1BQWlJJSXInJw3+mdv+2/7c25MCUQYcHFg5OUA/ODlXHBwIAhcXTzY1PTw1Nk8XF1tQUHcjIhwcYUNDTgL+3QFt/pOTkwABAAAAAQAAmM7nP18PPPUACwQAAAAAANciZKUAAAAA1yJkpf/9/70FtgPDAAAACAACAAAAAAAAAAEAAAPA/8AAAAW3//3//QW2AAEAAAAAAAAAAAAAAAAAAAAMBAAAAAAAAAAAAAAAAgAAAAQAASAEAADgBAAAwAQAAJ0EAP/9BAAAAAQAAAAFtwAAAAAAAAAKABQAHgAyAEYAjACiAL4BFgE2AY4AAAABAAAADAA8AAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADQAAAAEAAAAAAAIABwCWAAEAAAAAAAMADQBIAAEAAAAAAAQADQCrAAEAAAAAAAUACwAnAAEAAAAAAAYADQBvAAEAAAAAAAoAGgDSAAMAAQQJAAEAGgANAAMAAQQJAAIADgCdAAMAAQQJAAMAGgBVAAMAAQQJAAQAGgC4AAMAAQQJAAUAFgAyAAMAAQQJAAYAGgB8AAMAAQQJAAoANADsd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzUmVndWxhcgBSAGUAZwB1AGwAYQByd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==")
      format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  * {
    box-sizing: border-box;
  }

  img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
  }

  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }

  h1,
  h2,
  h3 {
    margin-bottom: 10px;
    font-weight: bold;
  }

  h1 {
    margin-top: 20px;
    font-size: 38px;
    line-height: 44px;
  }

  h2 {
    margin-top: 20px;
    font-size: 32px;
    line-height: 36px;
  }

  h3 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 30px;
  }

  p {
    margin-top: 0;
    margin-bottom: 10px;
  }

  button {
    cursor: pointer;
    -webkit-appearance: button;
    border: 0;
  }

  .w-dyn-item:hover {
    img {
      transform: scale(1.1);
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .text-weight-medium {
      text-decoration: underline;
    }
  }

  .w-richtext:before,
  .w-richtext:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }

  .w-richtext:after {
    clear: both;
  }

  @keyframes spin {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  h1,
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
  }

  p {
    color: var(--text-color--text-primary);
    margin-bottom: 0;
    font-size: 0.88rem;
    line-height: 1.4;
  }

  a {
    color: inherit;
    font-size: 1rem;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    display: inline-block;
  }

  .text-color-secondary {
    color: var(--text-color--text-secondary);
  }

  .text-rich-text h1,
  .text-rich-text h2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .text-rich-text h3 {
    letter-spacing: -0.04em;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
  }

  .text-rich-text p {
    color: var(--text-color--text-secondary);
    letter-spacing: -0.04em;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
  }

  .container-small {
    width: 100%;
    max-width: 51.88rem;
    margin-left: auto;
    margin-right: auto;
  }

  .padding-global {
    padding-left: 3.62rem;
    padding-right: 3.62rem;
  }

  .text-weight-medium {
    font-weight: 500;
  }

  .text-base {
    font-size: 1rem;
    line-height: 1.5;
  }

  .text-lg {
    letter-spacing: -0.03em;
    font-size: 1.125rem;
    line-height: 1.55;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .container-large {
    width: 100%;
    max-width: 72.25rem;
    margin-left: auto;
    margin-right: auto;
  }

  .main-wrapper {
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
    flex-flow: column;
    display: flex;
  }

  .button {
    background-color: var(--bg-color--bg-tertiary);
    color: var(--brand--white);
    text-align: center;
    letter-spacing: -0.008em;
    border-radius: 99rem;
    justify-content: center;
    align-items: center;
    min-height: 3.25rem;
    padding: 0.25rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3;
    transition: transform 0.3s;
    display: flex;
  }

  .button:hover {
    transform: scale(0.975);
  }

  .button.is-primary {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    background-color: var(--brand--secondary);
    align-items: stretch;
    padding-top: 0;
    padding-bottom: 0;
    overflow: clip;
    color: #111111;
  }

  .text-2xl {
    letter-spacing: -0.06em;
    font-size: 1.5rem;
    line-height: 1.33;
  }

  .text-5xl {
    letter-spacing: -0.06em;
    font-size: 3rem;
    line-height: 1.16;
  }

  .text-6xl {
    letter-spacing: -0.06em;
    font-size: 3.75rem;
    line-height: 1.2;
  }

  .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
    transition: all 0.5s ease;
    object-position: bottom;
  }

  .button-wrapper {
    flex-flow: column;
    display: flex;
  }

  .button-text-wrap {
    flex-flow: column;
    grid-template-rows: 2fr 2fr auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    place-items: center;
    display: flex;
    position: relative;
    overflow: clip;
  }

  .button-text {
    letter-spacing: -0.008em;
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    display: flex;
  }

  .button-text.is-second {
    transform: translate(0, 50%);
  }

  .button-shadow-up {
    background-image: linear-gradient(180deg, var(--brand--secondary), #fff0);
    height: 30%;
    position: absolute;
    inset: 0% 0% auto;
  }

  .button-shadow-down {
    background-image: linear-gradient(0deg, var(--brand--secondary), #fff0);
    height: 30%;
    position: absolute;
    inset: auto 0% 0%;
  }

  .button-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
    display: none;
  }

  .button-icon:where(.w-variant-0430e78c-6198-4121-8bff-0731d31f0de9) {
    display: block;
  }

  .content-wrap {
    grid-column-gap: 3.75rem;
    grid-row-gap: 3.75rem;
    flex-flow: column;
    flex: 1;
    display: flex;
  }

  .section_blogs {
    background-color: #fff;
    border-radius: 1.5rem;
    overflow: clip;
  }

  .blogs_header {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
  }

  .slider-blogs_title {
    max-width: 20.8125rem;
  }

  .slider-blogs_description {
    max-width: 50.1875rem;
  }

  .slider-blogs_card {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: column;
    width: 100%;
    display: flex;
  }

  .slider-blogs_card-image {
    border-radius: 1.5rem;
    width: 100%;
    padding-top: 77%;
    position: relative;
    overflow: clip;
  }

  .slider-blogs_card-content {
    grid-column-gap: 0.88rem;
    grid-row-gap: 0.88rem;
    flex-flow: column;
    display: flex;
  }

  .blogs_content {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .blogs_content-wrap {
    grid-column-gap: 1.88rem;
    grid-row-gap: 1.88rem;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .img-wrapper {
    border-radius: inherit;
    position: absolute;
    inset: 0%;
    overflow: clip;
  }

  .section_article {
    background-color: #eeeeee;
    border-radius: 1.5rem;
    overflow: clip;
    color: #111;
  }

  .article_header {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    text-align: center;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .article_description {
    max-width: 48.25rem;
  }

  .article_header-bottom {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    color: var(--text-color--text-secondary);
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .article_dot {
    width: 0.325rem;
    height: 0.325rem;
  }

  .article_visual {
    border-radius: 1.5rem;
    padding-top: 42%;
    position: relative;
    overflow: clip;
  }

  .article_content {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    flex-flow: column;
    display: flex;
  }

  @media screen and (max-width: 991px) {
    .padding-global {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }

    .text-5xl {
      font-size: 2.75rem;
    }

    .text-6xl {
      font-size: 3.125rem;
    }

    .content-wrap {
      grid-column-gap: 2.5rem;
      grid-row-gap: 2.5rem;
    }

    .section_blogs {
      border-radius: 1.25rem;
    }

    .blogs_header {
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      text-align: center;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
    }

    .slider-blogs_title {
      max-width: none;
    }

    .slider-blogs_card {
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
    }

    .slider-blogs_card-image {
      border-radius: 1.25rem;
    }

    .slider-blogs_card-content {
      grid-column-gap: 0.5rem;
      grid-row-gap: 0.5rem;
    }

    .blogs_content {
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
    }

    .section_article {
      border-radius: 1.25rem;
    }

    .article_header {
      grid-column-gap: 0.75rem;
      grid-row-gap: 0.75rem;
    }

    .article_visual {
      border-radius: 1.25rem;
    }

    .article_content {
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
    }

    .text-style-pretty {
      text-wrap: pretty;
    }
  }

  @media screen and (max-width: 767px) {
    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    .text-rich-text h3 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .text-rich-text p {
      margin-bottom: 1rem;
    }

    .padding-global {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .padding-section-large {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    .main-wrapper {
      grid-column-gap: 0.5rem;
      grid-row-gap: 0.5rem;
    }

    .text-5xl {
      font-size: 2.5rem;
    }

    .text-6xl {
      font-size: 3rem;
    }

    .content-wrap {
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
    }

    .section_blogs,
    .slider-blogs_card-image {
      border-radius: 1rem;
    }

    .blogs_content {
      grid-column-gap: 1.25rem;
      grid-row-gap: 2rem;
      grid-template-columns: 1fr 1fr;
    }

    .blogs_content-wrap {
      text-align: left;
    }

    .section_article,
    .article_visual {
      border-radius: 1rem;
    }
  }

  @media screen and (max-width: 479px) {
    .container-large {
      max-width: 100%;
    }

    .text-5xl {
      font-size: 2rem;
    }

    .text-6xl {
      font-size: 2.325rem;
    }

    .content-wrap {
      grid-column-gap: 1.75rem;
      grid-row-gap: 1.75rem;
      justify-content: center;
      align-items: stretch;
    }

    .blogs_content {
      grid-column-gap: 1.5rem;
      grid-row-gap: 1.5rem;
      grid-template-columns: 1fr;
    }

    .article_visual {
      border-radius: 0.75rem;
      padding-top: 60%;
    }
  }

  @media screen and (max-width: 767px) {
    #w-node-d36e0e59-6c0d-4f16-a4b1-bc2ba857758f-f6106201 {
      grid-area: span 1 / span 2 / span 1 / span 2;
    }
  }

  @media screen and (max-width: 479px) {
    #w-node-d36e0e59-6c0d-4f16-a4b1-bc2ba857758f-f6106201 {
      grid-column: span 1 / span 1;
    }
  }
}
