<css src="./error.css"></css>
<main class="main-wrapper">
  <section class="section_article">
    <div class="error-wrapper padding-global padding-section-large">
      <h1 class="text-5xl">Page not found</h1>
      <p
        class="text-xl text-color-secondary"
        style="max-width: 25rem; text-align: center"
      >
        Duis dolor sit amet, consectetur adipiscing elitvestibulum in pharetra.
      </p>
      <div
        data-w-id="1cff5e29-e2cf-50d6-3871-1ee4c038a66f"
        style="
          opacity: 0;
          -webkit-transform: translate3d(0, 15%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 15%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 15%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 15%, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        "
        class="hero_buttons-wrap"
      >
        <!-- Primary Button -->

        <a
          data-wf--primary-button--variant="with-icon"
          data-w-id="92bfed55-38a6-ba5a-9cf3-eed76b268ae3"
          href="index.html"
          class="button is-primary w-inline-block"
        >
          <div class="button-text-wrap">
            <div class="button-text is-firts">Go To Home</div>
            <div class="button-text is-second">Home</div>
            <div class="button-shadow-up"></div>
            <div class="button-shadow-down"></div>
          </div>
          <img
            loading="lazy"
            src="images/6776d41eecd929e7c8296552_arrow%20right.svg"
            alt=""
            class="button-icon w-variant-0430e78c-6198-4121-8bff-0731d31f0de9"
          />
        </a>
      </div>
    </div>
  </section>
</main>
