.our-company-about {
  --bg-color--bg-default: var(--base--white);
  --_typography---font-family--body: Inter, sans-serif;
  --main--primary: var(--base--green-700);
  --_typography---base--font-size: var(--_sizes---fixed--1rem);
  --_typography---base--line-height: 1.5;
  --_typography---font-weight--regular: 400;
  --_sizes---fixed--0rem: 0rem;
  --_typography---h1--font-family: var(--_typography---font-family--headers);
  --_typography---h1--font-size: var(--_sizes---fixed--4-5rem);
  --_typography---h1--line-height: 1.1;
  --_typography---h1--font-weight: var(--_typography---font-weight--regular);
  --_typography---h1--letter-spacing: -0.04em;
  --_typography---h2--font-family: var(--_typography---font-family--headers);
  --_typography---h2--font-size: var(--_sizes---fixed--3rem);
  --_typography---h2--line-height: 1.25;
  --_typography---h2--font-weight: var(--_typography---font-weight--regular);
  --_typography---h2--letter-spacing: -0.04em;
  --_typography---h3--font-family: var(--_typography---font-family--headers);
  --_typography---h3--font-size: var(--_sizes---fixed--2rem);
  --_typography---h3--line-height: 1.125;
  --_typography---h3--font-weight: var(--_typography---font-weight--regular);
  --_typography---h3--letter-spacing: -0.04em;
  --_typography---h4--font-family: var(--_typography---font-family--headers);
  --_typography---h4--font-size: var(--_sizes---fixed--1-75rem);
  --_typography---h4--line-height: 1.33;
  --_typography---h4--font-weight: var(--_typography---font-weight--regular);
  --_typography---h4--letter-spacing: -0.04em;
  --_typography---h5--font-family: var(--_typography---font-family--headers);
  --_typography---h5--font-size: var(--_sizes---fixed--1-5rem);
  --_typography---h5--line-height: 1.33;
  --_typography---h5--font-weight: var(--_typography---font-weight--regular);
  --_typography---h5--letter-spacing: -0.04em;
  --_typography---h6--font-family: var(--_typography---font-family--headers);
  --_typography---h6--font-size: var(--_sizes---fixed--1rem);
  --_typography---h6--line-height: 1.2;
  --_typography---h6--font-weight: var(--_typography---font-weight--regular);
  --_typography---h6--letter-spacing: 0em;
  --_sizes---fixed--1-5rem: 1.5rem;
  --_sizes---fixed--0-25rem: 0.25rem;
  --_sizes---fixed--1-25rem: 1.25rem;
  --bg-color--bg-subtle: var(--base--grey-100);
  --_sizes---fixed--1rem: 1rem;
  --_sizes---fixed--2rem: 2rem;
  --_typography---font-weight--semibold: 600;
  --bg-color--bg-primary: var(--main--primary);
  --text-color--text-primary: var(--base--orange);
  --text-color--text-secondary: var(--base--grey-500);
  --_sizes---fixed--2-5rem: 2.5rem;
  --_sizes---padding-section--small: var(--_sizes---fixed--3-25rem);
  --text-color--text-subtle: var(--grey--grey-300);
  --_typography---font-weight--medium: 500;
  --border-color--border-primary\<deleted\|variable-d4c54ba4-ee41-67ce-58a5-5216ca039f83\>: #efeff2;
  --_typography---font-family--headers: "Bricolage Grotesque", sans-serif;
  --_typography---xl--font-size: var(--_sizes---fixed--1-25rem);
  --_typography---xl--line-height: 1.4;
  --_typography---xl--letter-spacing: -0.04em;
  --_typography---font-weight--light: 300;
  --_typography---base--letter-spacing: -0.04em;
  --_sizes---fixed--0-75rem: 0.75rem;
  --_typography---lg--font-size: var(--_sizes---fixed--1-125rem);
  --_typography---lg--line-height: 1.5;
  --_typography---lg--letter-spacing: 0em;
  --bg-color--bg-secondary: var(--base--green-200);
  --_sizes---fixed--3-5rem: 3.5rem;
  --_sizes---fixed--15rem: 15rem;
  --_sizes---padding-section--large: var(--_sizes---fixed--6rem);
  --_sizes---fixed--6rem: 6rem;
  --_sizes---fixed--4rem: 4rem;
  --_typography---xs--font-size: var(--_sizes---fixed--0-75rem);
  --_typography---xs--line-height: 1.5;
  --_typography---xs--letter-spacing: 0em;
  --main--hover-primary: var(--base--green-200);
  --base--white: #fff;
  --_sizes---fixed--1-75rem: 1.75rem;
  --_typography---button--font-family: var(--_typography---font-family--body);
  --text-color--text-on-primary: var(--base--white);
  --_typography---button--font-size: var(--_sizes---fixed--1rem);
  --_typography---button--line-height: 1.5;
  --_typography---button--font-weight: var(--_typography---font-weight--medium);
  --_typography---button--letter-spacing: -0.08em;
  --base--green-700: #142828;
  --text-color--text-base: var(--main--primary);
  --grey--grey-100: #f3f3f3;
  --_typography---sm--font-size: var(--_sizes---fixed--0-875rem);
  --_typography---sm--line-height: 1.5;
  --_typography---sm--letter-spacing: 0em;
  --_sizes---padding-section--medium: 4.38rem;
  --_sizes---fixed--0-5rem: 0.5rem;
  --_sizes---fixed--0-125rem: 0.125rem;
  --_typography---2xl--font-size: var(--_sizes---fixed--1-5rem);
  --_typography---2xl--line-height: 1.5;
  --_typography---2xl--letter-spacing: 0em;
  --_typography---3xl--font-size: var(--_sizes---fixed--1-75rem);
  --_typography---3xl--line-height: 1.5;
  --_typography---3xl--letter-spacing: 0em;
  --_typography---4xl--font-size: var(--_sizes---fixed--2rem);
  --_typography---4xl--line-height: 1.12;
  --_typography---4xl--letter-spacing: 0em;
  --_typography---5xl--font-size: var(--_sizes---fixed--3rem);
  --_typography---5xl--line-height: 1.25;
  --_typography---5xl--letter-spacing: -0.04em;
  --_typography---font-weight--bold: 700;
  --_sizes---fixed--3rem: 3rem;
  --bg-color--bg-hover: var(--base--green-200);
  --base--grey-200: #d9d9d9;
  --_sizes---fixed--0-875rem: 0.875rem;
  --base--grey-100: #f3f3f3;
  --_sizes---fixed--10rem: 10rem;
  --grey--white-10: #ffffff0a;
  --base--blue: #0054f9;
  --base--orange: #ffa710;
  --_sizes---fixed--1-125rem: 1.125rem;
  --_sizes---fixed--4-5rem: 4.5rem;
  --_sizes---fixed--2-25rem: 2.25rem;
  --_sizes---fixed--5rem: 5rem;
  --base--black: #000;
  --base--green-200: #cdeed3;
  --base--grey-500: #575757;
  --_typography---font-weight--thin: 100;
  --main--secondary: var(--base--grey-100);
  --main--hover-secondary: var(--base--grey-500);
  --_typography---font-weight--extra-light: 200;
  --main--neutral: var(--base--grey-500);
  --_typography---font-weight--extra-bold: 800;
  --_typography---font-weight--black: 900;
  --_sizes---fixed--2-75rem: 2.75rem;
  --_sizes---fixed--3-25rem: 3.25rem;
  --_sizes---fixed--5-5rem: 5.5rem;
  --grey--grey-200: #d9d9d9;
  --_sizes---fixed--6-5rem: 6.5rem;
  --_sizes---fixed--7rem: 7rem;
  --grey--grey-300: #bebebe;
  --_sizes---fixed--8rem: 8rem;
  --_sizes---fixed--9rem: 9rem;
  --grey--grey-500: #575757;
  --grey--grey-700: #2c2626;
  --grey--800: #0f0f0f;
  --grey--900: #0a0a0a;


  background-color: #fff;
  border-radius: 1.5rem;

  section {
    display: block;
  }

  a {
    background-color: #0000;
  }

  a:active,
  a:hover {
    outline: 0;
  }

  img {
    border: 0;
  }

  @font-face {
    font-family: webflow-icons;
    src: url("data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SBiUAAAC8AAAAYGNtYXDpP+a4AAABHAAAAFxnYXNwAAAAEAAAAXgAAAAIZ2x5ZmhS2XEAAAGAAAADHGhlYWQTFw3HAAAEnAAAADZoaGVhCXYFgQAABNQAAAAkaG10eCe4A1oAAAT4AAAAMGxvY2EDtALGAAAFKAAAABptYXhwABAAPgAABUQAAAAgbmFtZSoCsMsAAAVkAAABznBvc3QAAwAAAAAHNAAAACAAAwP4AZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpAwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAQAAAAAwACAACAAQAAQAg5gPpA//9//8AAAAAACDmAOkA//3//wAB/+MaBBcIAAMAAQAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEBIAAAAyADgAAFAAAJAQcJARcDIP5AQAGA/oBAAcABwED+gP6AQAABAOAAAALgA4AABQAAEwEXCQEH4AHAQP6AAYBAAcABwED+gP6AQAAAAwDAAOADQALAAA8AHwAvAAABISIGHQEUFjMhMjY9ATQmByEiBh0BFBYzITI2PQE0JgchIgYdARQWMyEyNj0BNCYDIP3ADRMTDQJADRMTDf3ADRMTDQJADRMTDf3ADRMTDQJADRMTAsATDSANExMNIA0TwBMNIA0TEw0gDRPAEw0gDRMTDSANEwAAAAABAJ0AtAOBApUABQAACQIHCQEDJP7r/upcAXEBcgKU/usBFVz+fAGEAAAAAAL//f+9BAMDwwAEAAkAABcBJwEXAwE3AQdpA5ps/GZsbAOabPxmbEMDmmz8ZmwDmvxmbAOabAAAAgAA/8AEAAPAAB0AOwAABSInLgEnJjU0Nz4BNzYzMTIXHgEXFhUUBw4BBwYjNTI3PgE3NjU0Jy4BJyYjMSIHDgEHBhUUFx4BFxYzAgBqXV6LKCgoKIteXWpqXV6LKCgoKIteXWpVSktvICEhIG9LSlVVSktvICEhIG9LSlVAKCiLXl1qal1eiygoKCiLXl1qal1eiygoZiEgb0tKVVVKS28gISEgb0tKVVVKS28gIQABAAABwAIAA8AAEgAAEzQ3PgE3NjMxFSIHDgEHBhUxIwAoKIteXWpVSktvICFmAcBqXV6LKChmISBvS0pVAAAAAgAA/8AFtgPAADIAOgAAARYXHgEXFhUUBw4BBwYHIxUhIicuAScmNTQ3PgE3NjMxOAExNDc+ATc2MzIXHgEXFhcVATMJATMVMzUEjD83NlAXFxYXTjU1PQL8kz01Nk8XFxcXTzY1PSIjd1BQWlJJSXInJw3+mdv+2/7c25MCUQYcHFg5OUA/ODlXHBwIAhcXTzY1PTw1Nk8XF1tQUHcjIhwcYUNDTgL+3QFt/pOTkwABAAAAAQAAmM7nP18PPPUACwQAAAAAANciZKUAAAAA1yJkpf/9/70FtgPDAAAACAACAAAAAAAAAAEAAAPA/8AAAAW3//3//QW2AAEAAAAAAAAAAAAAAAAAAAAMBAAAAAAAAAAAAAAAAgAAAAQAASAEAADgBAAAwAQAAJ0EAP/9BAAAAAQAAAAFtwAAAAAAAAAKABQAHgAyAEYAjACiAL4BFgE2AY4AAAABAAAADAA8AAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADQAAAAEAAAAAAAIABwCWAAEAAAAAAAMADQBIAAEAAAAAAAQADQCrAAEAAAAAAAUACwAnAAEAAAAAAAYADQBvAAEAAAAAAAoAGgDSAAMAAQQJAAEAGgANAAMAAQQJAAIADgCdAAMAAQQJAAMAGgBVAAMAAQQJAAQAGgC4AAMAAQQJAAUAFgAyAAMAAQQJAAYAGgB8AAMAAQQJAAoANADsd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzUmVndWxhcgBSAGUAZwB1AGwAYQByd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  * {
    box-sizing: border-box;
  }

  img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
  }

  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }

  @keyframes spin {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  a {
    color: var(--main--primary);
    text-decoration: none;
  }

  img {
    display: inline-block;
  }

  .padding-global {
    // padding-right: var(--_sizes---fixed--2-5rem);
    // padding-left: var(--_sizes---fixed--2-5rem);
    margin-left: auto;
    margin-right: auto;
  }

  .padding-section-medium {
    padding-top: var(--_sizes---padding-section--medium);
  }

  .container-medium {
    width: 100%;
    max-width: 73.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .spacer-medium {
    padding-top: var(--_sizes---fixed--1rem);
    width: 100%;
  }

  .text-5xl {
    // font-family: var(--_typography---font-family--headers);
    font-size: var(--_typography---5xl--font-size);
    line-height: var(--_typography---5xl--line-height);
    letter-spacing: var(--_typography---5xl--letter-spacing);
  }

   .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
    transition: all .5s 
ease;
}

  .img.is-hero-one {
    transform-origin: 50%;
  }

  .spacer {
    opacity: 0;
  }

  .spacer-tablet,
  .spacer-mobile {
    display: none;
  }

  .section_about {
    overflow: hidden;
    background-color: #102D71;
    color: #fff;
    border-radius: 24px;
  }

  .max-title.is-35rem {
    max-width: 35.25rem;
  }

  .large-text {
    line-height: 1.35;
    letter-spacing: -0.01em;

  }

  .text-tag {
    letter-spacing: 0.12em;
    text-transform: uppercase;
  }

  .about_layout {
    grid-column-gap: var(--_sizes---fixed--3rem);
    grid-row-gap: var(--_sizes---fixed--3rem);
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    place-items: center stretch;
    display: grid;
  }

  .about_img {
    border-radius: var(--_sizes---fixed--1-5rem);
    padding-top: 124.5%;
    position: relative;
    overflow: clip;
  }

  .about_mini-img {
    border-radius: var(--_sizes---fixed--1-25rem);
    min-width: 66.6%;
    padding-top: 27.2%;
    position: absolute;
    bottom: 5.8%;
    left: 16.7%;
    overflow: clip;
  }

  .button_component {
    padding: var(--_sizes---fixed--0-75rem) var(--_sizes---fixed--1-75rem);
    border-radius: var(--_sizes---fixed--15rem);
    background-color: var(--bg-color--bg-primary);
    font-family: var(--_typography---button--font-family);
    color: var(--text-color--text-on-primary);
    font-size: var(--_typography---button--font-size);
    line-height: var(--_typography---button--line-height);
    font-weight: var(--_typography---button--font-weight);
    letter-spacing: var(--_typography---button--letter-spacing);
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    display: flex;
    position: relative;
  }

  .buttons-wrap {
    grid-column-gap: var(--_sizes---fixed--1rem);
    grid-row-gap: var(--_sizes---fixed--1rem);
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
  }

  .button-content {
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: 0 2px 0 0;
    display: flex;
    position: relative;
    overflow: clip;
  }

  .button-text.is-bottom {
    position: absolute;
    inset: 0% 0% auto;
  }

  .img-wrap {
    border-radius: inherit;
    position: absolute;
    inset: 0%;
    overflow: clip;
  }

  @media screen and (max-width: 991px) {
    .padding-global {
      padding-right: var(--_sizes---fixed--2rem);
      padding-left: var(--_sizes---fixed--2rem);
    }

    .container-medium {
      overflow: visible;
    }

    .spacer-desktop {
      display: none;
    }

    .spacer-tablet {
      display: block;
    }

    .about_layout {
      grid-column-gap: var(--_sizes---fixed--2rem);
      grid-row-gap: var(--_sizes---fixed--2rem);
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 767px) {
    .padding-global {
      padding-right: var(--_sizes---fixed--1rem);
      padding-left: var(--_sizes---fixed--1rem);
    }

    .spacer-tablet {
      display: none;
    }

    .spacer-mobile {
      display: block;
    }

    .about_layout {
      grid-column-gap: var(--_sizes---fixed--2-5rem);
      grid-row-gap: var(--_sizes---fixed--2-5rem);
      flex-flow: column;
    }

    .about_img {
      padding-top: 124%;
    }

    .about_layout .large-text.text-5xl.scroll-into-view {
      font-size: 30px;
      line-height: 36px;
    }
  }

  @media screen and (max-width: 479px) {
    .about_layout {
      grid-column-gap: var(--_sizes---fixed--2rem);
      grid-row-gap: var(--_sizes---fixed--2rem);
    }

    .about_img {
      border-radius: var(--_sizes---fixed--1rem);
    }

    .about_mini-img {
      border-radius: var(--_sizes---fixed--0-5rem);
    }

    .buttons-wrap {
      flex-flow: column;
      width: 100%;
    }

    .about_layout .large-text.text-5xl.scroll-into-view {
      font-size: 30px;
      line-height: 36px;
    }
  }
}