<css src="./about.scss" />
<style>
  .max-title .text-base {
    font-size: 1rem;
    
  }

  @media screen and (max-width: 479px) {
    .about-hero_visual {
      padding-top: 0% !important;
    }
  }
</style>
<div class="our-company-about">
  <section class="section_about">

    <div class="container-large">
      <div class="padding-global padding-section-large">
        <div class="about_layout">
          <div>
            <div class="text-tag scroll-into-view"
              style="opacity: 1; transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
              About Charlotte LED Pros
            </div>
            <div class="spacer-medium"></div>
            <div class="max-title is-35rem">
              <div class="text-base text-color-secondary">
                After a 15 year career in NASCAR technology, Dave Kobuszewski pivoted when he saw the need
                to help the businesses throughout the Carolinas save energy by Going Green and converting to
                LED Lighting. The company focuses on delivering best-in-class customer service with
                outstanding installation and guaranteed energy-saving results.

                <br><br>

                Charlotte LED Pros electricians have more than 40 years experience led by Jason Sheridan.
                Our team works around busy schedules including weeknights and weekends which are the best
                time to avoid interfering with day-to-day business operations.

                <br><br>

                Very few times are we beat on a competitive project bid which means we price ourselves to
                provide LED Conversion that delivers positive Return on Investment and short term project
                payback. A single small business can recoup their out of pocket expenses in 12 months. A
                midsize to large business will show project payback in 30 months.

                <br><br>

                The products we specialize in offer extreme flexibility for customers. Both in design and
                functionality. Whether you're looking for trusted, top-tier U.S. brands like Lithonia or
                exploring innovative, cost-effective options from international manufacturers, we have the
                expertise and network to deliver it.

                <br><br>

                From design to budget, Charlotte LED Pros ensures you have the perfect lighting solution
                tailored to your needs.<br><br>

                There will never be a better time.
              </div>
            </div>


          </div>
          <div data-w-id="03d93b23-fba6-3a82-c0f5-574c8a72ef38" style="width: 100%; height: 100%" class="about_img">
            <div style="
                transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              " class="img-wrap">
              <img src="/images/dave-Kobuszewski.png" loading="lazy" sizes="(max-width: 846px) 100vw, 846px" alt=""
                class="img is-hero-one">
            </div>


            <div style=" display: none;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              " class="about_mini-img">
              <img
                src="https://cdn.prod.website-files.com/687a676ef5e70f7d641d3080/68828a8e62631f229b489abf_aboutV3ImgCard.webp"
                loading="lazy" alt="" class="img">
            </div>

          </div>
        </div>

      </div>

    </div>


  </section>
</div>