.header-section {
  --brand--primary: #083630;

  --brand--soft-white: #fffc;
  --brand--neutral-light: #dad6c9;
  --brand--gray: #787878;
  --border-color--border-primary: #efeff2;
  --brand--neutral-lighter: #efeeeb;
  --brand--white: #fff;
  --brand--secondary: #e6daff;
  --brand--black: #000;
  --brand--light-gray: #fafafa;
  --brand--neutral-dark: #111;
  --brand--primary-light: #1f514a;
  --brand--opaque-white: #ffffff80;
  --brand--neutral: #11111180;
  --border-color--border-secondary: #d4d4d8;
  --border-color--border-alternate: white;
  --link-color--link-alternate: white;
  --bg-color--bg-secondary: var(--brand--neutral-light);
  --text-color--text-primary: var(--brand--black);
  --text-color--text-secondary: var(--brand--neutral);
  --bg-color--bg-tertiary: var(--brand--neutral-dark);
  --bg-color--bg-alternate: var(--brand--primary);
  --link-color--link-primary: var(--brand--black);
  --text-color--text-tertiary: var(--brand--soft-white);
  --bg-color--bg-primary: var(--brand--neutral-lighter);

  nav {
    display: block;
  }

  a {
    background-color: #0000;
  }

  a:active,
  a:hover {
    outline: 0;
  }

  img {
    border: 0;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  button {
    color: inherit;
    font: inherit;
    margin: 0;
  }

  button {
    overflow: visible;
  }

  button {
    text-transform: none;
  }

  button {
    -webkit-appearance: button;
    cursor: pointer;
  }

  button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  @font-face {
    font-family: webflow-icons;
    src: url("data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SBiUAAAC8AAAAYGNtYXDpP+a4AAABHAAAAFxnYXNwAAAAEAAAAXgAAAAIZ2x5ZmhS2XEAAAGAAAADHGhlYWQTFw3HAAAEnAAAADZoaGVhCXYFgQAABNQAAAAkaG10eCe4A1oAAAT4AAAAMGxvY2EDtALGAAAFKAAAABptYXhwABAAPgAABUQAAAAgbmFtZSoCsMsAAAVkAAABznBvc3QAAwAAAAAHNAAAACAAAwP4AZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpAwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAQAAAAAwACAACAAQAAQAg5gPpA//9//8AAAAAACDmAOkA//3//wAB/+MaBBcIAAMAAQAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEBIAAAAyADgAAFAAAJAQcJARcDIP5AQAGA/oBAAcABwED+gP6AQAABAOAAAALgA4AABQAAEwEXCQEH4AHAQP6AAYBAAcABwED+gP6AQAAAAwDAAOADQALAAA8AHwAvAAABISIGHQEUFjMhMjY9ATQmByEiBh0BFBYzITI2PQE0JgchIgYdARQWMyEyNj0BNCYDIP3ADRMTDQJADRMTDf3ADRMTDQJADRMTDf3ADRMTDQJADRMTAsATDSANExMNIA0TwBMNIA0TEw0gDRPAEw0gDRMTDSANEwAAAAABAJ0AtAOBApUABQAACQIHCQEDJP7r/upcAXEBcgKU/usBFVz+fAGEAAAAAAL//f+9BAMDwwAEAAkAABcBJwEXAwE3AQdpA5ps/GZsbAOabPxmbEMDmmz8ZmwDmvxmbAOabAAAAgAA/8AEAAPAAB0AOwAABSInLgEnJjU0Nz4BNzYzMTIXHgEXFhUUBw4BBwYjNTI3PgE3NjU0Jy4BJyYjMSIHDgEHBhUUFx4BFxYzAgBqXV6LKCgoKIteXWpqXV6LKCgoKIteXWpVSktvICEhIG9LSlVVSktvICEhIG9LSlVAKCiLXl1qal1eiygoKCiLXl1qal1eiygoZiEgb0tKVVVKS28gISEgb0tKVVVKS28gIQABAAABwAIAA8AAEgAAEzQ3PgE3NjMxFSIHDgEHBhUxIwAoKIteXWpVSktvICFmAcBqXV6LKChmISBvS0pVAAAAAgAA/8AFtgPAADIAOgAAARYXHgEXFhUUBw4BBwYHIxUhIicuAScmNTQ3PgE3NjMxOAExNDc+ATc2MzIXHgEXFhcVATMJATMVMzUEjD83NlAXFxYXTjU1PQL8kz01Nk8XFxcXTzY1PSIjd1BQWlJJSXInJw3+mdv+2/7c25MCUQYcHFg5OUA/ODlXHBwIAhcXTzY1PTw1Nk8XF1tQUHcjIhwcYUNDTgL+3QFt/pOTkwABAAAAAQAAmM7nP18PPPUACwQAAAAAANciZKUAAAAA1yJkpf/9/70FtgPDAAAACAACAAAAAAAAAAEAAAPA/8AAAAW3//3//QW2AAEAAAAAAAAAAAAAAAAAAAAMBAAAAAAAAAAAAAAAAgAAAAQAASAEAADgBAAAwAQAAJ0EAP/9BAAAAAQAAAAFtwAAAAAAAAAKABQAHgAyAEYAjACiAL4BFgE2AY4AAAABAAAADAA8AAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADQAAAAEAAAAAAAIABwCWAAEAAAAAAAMADQBIAAEAAAAAAAQADQCrAAEAAAAAAAUACwAnAAEAAAAAAAYADQBvAAEAAAAAAAoAGgDSAAMAAQQJAAEAGgANAAMAAQQJAAIADgCdAAMAAQQJAAMAGgBVAAMAAQQJAAQAGgC4AAMAAQQJAAUAFgAyAAMAAQQJAAYAGgB8AAMAAQQJAAoANADsd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzUmVndWxhcgBSAGUAZwB1AGwAYQByd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==")
      format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  * {
    box-sizing: border-box;
  }

  img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
  }

  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }

  .w-button {
    color: #fff;
    line-height: inherit;
    cursor: pointer;
    background-color: #3898ec;
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
  }

  button {
    cursor: pointer;
    -webkit-appearance: button;
    border: 0;
  }

  @media screen and (max-width: 767px) {
    .w-nav-brand {
      padding-left: 10px;
    }
  }

  .w-nav {
    z-index: 1000;
    background: #fff;
    position: relative;
  }

  .w-nav:before,
  .w-nav:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }

  .w-nav:after {
    clear: both;
  }

  .w-nav-brand {
    float: left;
    color: #333;
    text-decoration: none;
    position: relative;
  }

  .w-nav-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }

  .w-nav-menu {
    float: right;
    position: relative;
  }

  nav.nav_mobile.w-nav-menu {
    position: relative;
  }

  nav.nav_mobile.w-nav-menu {
    transform: translateY(0px) translateX(0px) !important;
  }

  nav.nav_mobile.w-nav-menu[data-nav-menu-open] {
    text-align: center;
    background: #c8c8c8;
    min-width: 200px;
    position: absolute !important;
    z-index: 999;
    top: 100%;
    left: 0;
    right: 0;
    overflow: visible;
    display: block !important;
    transition: all 0.5s ease;
  }

  .w--nav-link-open {
    display: block;
    position: relative;
  }

  .w-nav-overlay {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .w-nav-overlay [data-nav-menu-open] {
    top: 0;
  }

  .w-nav[data-animation="over-left"] .w-nav-overlay {
    width: auto;
  }

  .w-nav[data-animation="over-left"] .w-nav-overlay,
  .w-nav[data-animation="over-left"] [data-nav-menu-open] {
    z-index: 1;
    top: 0;
    right: auto;
  }

  .w-nav[data-animation="over-right"] .w-nav-overlay {
    width: auto;
  }

  .w-nav[data-animation="over-right"] .w-nav-overlay,
  .w-nav[data-animation="over-right"] [data-nav-menu-open] {
    z-index: 1;
    top: 0;
    left: auto;
  }

  .w-nav-button {
    float: right;
    cursor: pointer;
    -webkit-tap-highlight-color: #0000;
    tap-highlight-color: #0000;
    -webkit-user-select: none;
    user-select: none;
    padding: 18px;
    font-size: 24px;
    display: none;
    position: relative;
  }

  .w-nav-button:focus {
    outline: 0;
  }

  @media screen and (max-width: 991px) {
    .w-nav[data-collapse="medium"] .w-nav-menu {
      display: none;
    }

    .w-nav[data-collapse="medium"] .w-nav-button {
      display: block;
    }
  }

  @media screen and (max-width: 767px) {
    .w-nav-brand {
      padding-left: 10px;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  a {
    color: inherit;
    font-size: 1rem;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    display: inline-block;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .padding-global {
    padding-left: 3.62rem;
    padding-right: 3.62rem;
  }

  .padding-global.is-navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .button {
    background-color: var(--bg-color--bg-tertiary);
    color: var(--brand--white);
    text-align: center;
    letter-spacing: -0.008em;
    border-radius: 99rem;
    justify-content: center;
    align-items: center;
    min-height: 3.25rem;
    padding: 0.25rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3;
    transition: transform 0.3s;
    display: flex;
  }

  .button:hover {
    transform: scale(0.975);
  }

  .button.is-primary {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    background-color: var(--brand--secondary);
    align-items: stretch;
    padding-top: 0;
    padding-bottom: 0;
    overflow: clip;
    color: #111111;
  }

  .button.is-white {
    border: 1px solid var(--brand--white);
    background-color: var(--brand--white);
    color: var(--text-color--text-primary);
    transition: color 0.3s, border-color 0.3s, transform 0.3s;
  }

  .button.is-white:hover {
    border-color: var(--brand--secondary);
    color: var(--brand--secondary);
  }

  .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
    transition: all 0.5s ease;
  }

  .navbar_content {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .nav_mobile {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .nav_buttons-wrap {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .login-wrap {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .nav-button_line {
    background-color: #292d32;
    border-radius: 2px;
    height: 5%;
  }

  .nav-button_line.is-third {
    transform-origin: 50%;
  }

  .nav-button_line.is-first {
    transform-origin: 50%;
    transform: translate(0);
  }

  .nav-button_component {
    grid-row-gap: 0.5rem;
    background-color: #8f00ff;
    border-radius: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
  }

  .nav-button_component:hover {
    opacity: 1;
  }

  .nav_links {
    grid-column-gap: 0.1rem !important;
    grid-row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    transition: opacity 0.3s;
    display: flex;
    cursor: pointer;
  }

  .nav_links:hover {
    opacity: 1;
  }

  .navbar {
    background-color: #fff;
    color: #131313;
    border-radius: 1.25rem;
    width: 100%;
    margin-bottom: 0.75rem;
  }

  .navbar_logo {
    width: 8rem;
  }

  .navbar_list {
    grid-column-gap: 1rem;
    grid-row-gap: 1.25rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .nav_wrap {
    grid-column-gap: 1.75rem;
    grid-row-gap: 1.75rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .navbar_logo-link {
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    position: relative;
  }

  .button-text-wrap {
    flex-flow: column;
    grid-template-rows: 2fr 2fr auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    place-items: center;
    display: flex;
    position: relative;
    overflow: clip;
  }

  .button-text {
    letter-spacing: -0.008em;
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    display: flex;
  }

  .button-text.is-second {
    transform: translate(0, 50%);
  }

  .button-shadow-up {
    background-image: linear-gradient(180deg, var(--brand--secondary), #fff0);
    height: 30%;
    position: absolute;
    inset: 0% 0% auto;
  }

  .button-shadow-down {
    background-image: linear-gradient(0deg, var(--brand--secondary), #fff0);
    height: 30%;
    position: absolute;
    inset: auto 0% 0%;
  }

  .button-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
    display: none;
  }

  @media screen and (max-width: 991px) {
    .margin-right {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
    }

    .padding-global {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }

    .navbar_content {
      justify-content: space-between;
      align-items: center;
    }

    .nav_mobile {
      text-align: left;
      background-color: #0000;
      flex-flow: row;
      justify-content: flex-end;
      align-items: stretch;
      min-width: auto;
      position: absolute;
      inset: 110% 0 0%;
    }

    .nav_buttons-wrap {
      grid-column-gap: 0rem;
      grid-row-gap: 0rem;
    }

    .nav-button_line {
      background-color: var(--brand--neutral-dark);
      margin: auto;
      position: absolute;
      inset: 0% 15%;
    }

    .nav-button_line.is-third {
      transform: translate(0, 350%);
    }

    .nav-button_line.is-first {
      transform: translate(0, -350%);
    }

    .nav-button_component {
      grid-row-gap: 0.25rem;
      background-color: #0000;
      border-radius: 0.75rem;
      width: 3rem;
      height: 3rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      display: block;
      position: relative;
    }

    .nav_links {
      width: auto;
      margin-left: 0;
      margin-right: 0;
      padding: 0.5rem 0;
      font-size: 1rem;
    }

    .navbar {
      border: 1px solid #0000001f;
    }

    .menu-button {
      padding: 0 0 0 1rem;
    }

    .navbar_list {
      grid-column-gap: 0.75rem;
      grid-row-gap: 0.75rem;
      border: 1px solid var(--brand--neutral-light);
      background-color: #fff;
      text-align: left;
      border-radius: 0.75rem;
      flex-flow: column;
      justify-content: flex-start;
      align-items: flex-start;
      min-width: 9rem;
      padding: 1rem 2rem 1.5rem;
      position: relative;
    }

    .nav_wrap {
      flex: 1;
      justify-content: flex-end;
      align-items: center;
      padding-right: 1rem;
    }

    .navbar_logo-link {
      justify-content: flex-start;
      align-items: center;
    }
  }

  @media screen and (max-width: 767px) {
    .margin-right {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
    }

    .hide-mobile-landscape {
      display: none;
    }

    .padding-global {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .padding-global.is-navbar {
      padding-left: 1.5rem;
    }

    .nav_mobile {
      top: 110%;
    }

    .nav_buttons-wrap {
      justify-content: space-between;
      align-items: center;
    }

    .nav-button_component {
      border-radius: 0.5rem;
      width: 2.5rem;
      height: 2.5rem;
    }

    .nav_links {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }

    .navbar {
      border-width: 0;
      border-radius: 1rem;
    }

    .navbar_logo {
      width: 5rem;
    }

    .menu-button {
      padding-left: 1rem;
    }

    .navbar_list {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .nav_wrap {
      padding-right: 0;
    }
  }

  @media screen and (max-width: 479px) {
    .margin-right {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
    }

    .padding-global.is-navbar {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }

    .navbar_content {
      padding-left: 0;
    }

    .nav_mobile {
      margin-top: 0.5rem;
      top: 100%;
    }

    .nav-button_line.is-third,
    .nav-button_line.is-first,
    .nav-button_line.is-second {
      flex: none;
    }

    .nav-button_component {
      width: 2.25rem;
      height: 2.25rem;
    }

    .navbar_list {
      grid-column-gap: 1rem;
      grid-row-gap: 0.5rem;
    }

    .navbar_logo-link {
      flex: none;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .links .mail a:hover {
    text-decoration: underline;
  }
}
