<css src="./our-process.scss" />
<div class="single-solution-features">
    <section data-wf--features-component--variant="base"
        class="section_features">
        <div class="padding-global padding-section-large">
            <div class="container-large">
                <div class="content-wrap">
                    <div class="header is-centered">
                        <div data-w-id="994ce739-c87c-66a1-aef0-3eac49443090"
                            class="features_title"
                            style="
                opacity: 1;
                transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              ">
                            <h2 class="text-5xl">
                                Our Process
                            </h2>
                        </div>
                    </div>
                    <div class="features_grid">

                        <div class="features_card">
                            <div class="features_card_heading">

                                <div data-w-id="994ce739-c87c-66a1-aef0-3eac49443098"
                                    class="features_card-icon"
                                    style="
                  opacity: 1;
                  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                  transform-style: preserve-3d;
                ">
                                    <div data-w-id="58caaa2e-4cbd-4426-92b2-1c98a11b8796"
                                        class="features_icon-wrapper"
                                        style="
                    opacity: 1;
                    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  ">
                                        <h2>1</h2>
                                    </div>
                                </div>
                            <h3 class="title">Consultation</h3>
                            </div>
                            <div data-w-id="994ce739-c87c-66a1-aef0-3eac4944309a"
                                class="text-xl text-weight-medium"
                                style="
                  opacity: 1;
                  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                  transform-style: preserve-3d;
                ">
                                Charlotte LED Pros begins with a thorough evaluation of your facility’s lighting conditions and energy consumption.  We can determine exactly how much your current lighting is costing you.  We can identify problem areas of your current lighting.
                                
                            </div>
                        </div>  

                        <div class="features_card">
                            <div class="features_card_heading">

                                <div data-w-id="994ce739-c87c-66a1-aef0-3eac49443098"
                                    class="features_card-icon"
                                    style="
                  opacity: 1;
                  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                  transform-style: preserve-3d;
                ">
                                    <div data-w-id="58caaa2e-4cbd-4426-92b2-1c98a11b8796"
                                        class="features_icon-wrapper"
                                        style="
                    opacity: 1;
                    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  ">
                                        <h2>2</h2>
                                    </div>
                                </div>
                            <h3 class="title">Proposal</h3>
                            </div>
                            <div data-w-id="994ce739-c87c-66a1-aef0-3eac4944309a"
                                class="text-xl text-weight-medium"
                                style="
                  opacity: 1;
                  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                  transform-style: preserve-3d;
                ">
                                Once the assessment is complete, Charlotte LED Pros provides a LED lighting upgrade proposal that reduces energy consumption, incorporates available utility rebates & incentives, and improves lighting quality.                            
                            </div>
                        </div>  

                        <div class="features_card">
                            <div class="features_card_heading">

                                <div data-w-id="994ce739-c87c-66a1-aef0-3eac49443098"
                                    class="features_card-icon"
                                    style="
                  opacity: 1;
                  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                  transform-style: preserve-3d;
                ">
                                    <div data-w-id="58caaa2e-4cbd-4426-92b2-1c98a11b8796"
                                        class="features_icon-wrapper"
                                        style="
                    opacity: 1;
                    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  ">
                                        <h2>3</h2>
                                    </div>
                                </div>
                            <h3 class="title">Installation</h3>
                            </div>
                            <div data-w-id="994ce739-c87c-66a1-aef0-3eac4944309a"
                                class="text-xl text-weight-medium"
                                style="
                  opacity: 1;
                  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                  transform-style: preserve-3d;
                ">
                                Our team of electrical contractors are efficient, experienced and highly knowledgeable. Our team will work with your staff to schedule your lighting installation in a way that has minimal impact on your business operations and customers.
                                
                            </div>
                        </div>  

                        <div class="features_card">
                            <div class="features_card_heading">

                                <div data-w-id="994ce739-c87c-66a1-aef0-3eac49443098"
                                    class="features_card-icon"
                                    style="
                  opacity: 1;
                  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                  transform-style: preserve-3d;
                ">
                                    <div data-w-id="58caaa2e-4cbd-4426-92b2-1c98a11b8796"
                                        class="features_icon-wrapper"
                                        style="
                    opacity: 1;
                    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  ">
                                        <h2>4</h2>
                                    </div>
                                </div>
                            <h3 class="title">Final Review</h3>
                            </div>
                            <div data-w-id="994ce739-c87c-66a1-aef0-3eac4944309a"
                                class="text-xl text-weight-medium"
                                style="
                  opacity: 1;
                  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                  transform-style: preserve-3d;
                ">
                                Once the installation is complete, our team will walk your facility with you, making sure all needs are met. Our goal is for you to be 100% satisfied. If there are any problems or concerns, we will make sure they're taken care of.
                                
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>