main,
section {
  display: block;
}

a {
  background-color: #0000;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

@font-face {
  font-family: webflow-icons;
  src: url("data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SBiUAAAC8AAAAYGNtYXDpP+a4AAABHAAAAFxnYXNwAAAAEAAAAXgAAAAIZ2x5ZmhS2XEAAAGAAAADHGhlYWQTFw3HAAAEnAAAADZoaGVhCXYFgQAABNQAAAAkaG10eCe4A1oAAAT4AAAAMGxvY2EDtALGAAAFKAAAABptYXhwABAAPgAABUQAAAAgbmFtZSoCsMsAAAVkAAABznBvc3QAAwAAAAAHNAAAACAAAwP4AZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpAwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAQAAAAAwACAACAAQAAQAg5gPpA//9//8AAAAAACDmAOkA//3//wAB/+MaBBcIAAMAAQAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEBIAAAAyADgAAFAAAJAQcJARcDIP5AQAGA/oBAAcABwED+gP6AQAABAOAAAALgA4AABQAAEwEXCQEH4AHAQP6AAYBAAcABwED+gP6AQAAAAwDAAOADQALAAA8AHwAvAAABISIGHQEUFjMhMjY9ATQmByEiBh0BFBYzITI2PQE0JgchIgYdARQWMyEyNj0BNCYDIP3ADRMTDQJADRMTDf3ADRMTDQJADRMTDf3ADRMTDQJADRMTAsATDSANExMNIA0TwBMNIA0TEw0gDRPAEw0gDRMTDSANEwAAAAABAJ0AtAOBApUABQAACQIHCQEDJP7r/upcAXEBcgKU/usBFVz+fAGEAAAAAAL//f+9BAMDwwAEAAkAABcBJwEXAwE3AQdpA5ps/GZsbAOabPxmbEMDmmz8ZmwDmvxmbAOabAAAAgAA/8AEAAPAAB0AOwAABSInLgEnJjU0Nz4BNzYzMTIXHgEXFhUUBw4BBwYjNTI3PgE3NjU0Jy4BJyYjMSIHDgEHBhUUFx4BFxYzAgBqXV6LKCgoKIteXWpqXV6LKCgoKIteXWpVSktvICEhIG9LSlVVSktvICEhIG9LSlVAKCiLXl1qal1eiygoKCiLXl1qal1eiygoZiEgb0tKVVVKS28gISEgb0tKVVVKS28gIQABAAABwAIAA8AAEgAAEzQ3PgE3NjMxFSIHDgEHBhUxIwAoKIteXWpVSktvICFmAcBqXV6LKChmISBvS0pVAAAAAgAA/8AFtgPAADIAOgAAARYXHgEXFhUUBw4BBwYHIxUhIicuAScmNTQ3PgE3NjMxOAExNDc+ATc2MzIXHgEXFhcVATMJATMVMzUEjD83NlAXFxYXTjU1PQL8kz01Nk8XFxcXTzY1PSIjd1BQWlJJSXInJw3+mdv+2/7c25MCUQYcHFg5OUA/ODlXHBwIAhcXTzY1PTw1Nk8XF1tQUHcjIhwcYUNDTgL+3QFt/pOTkwABAAAAAQAAmM7nP18PPPUACwQAAAAAANciZKUAAAAA1yJkpf/9/70FtgPDAAAACAACAAAAAAAAAAEAAAPA/8AAAAW3//3//QW2AAEAAAAAAAAAAAAAAAAAAAAMBAAAAAAAAAAAAAAAAgAAAAQAASAEAADgBAAAwAQAAJ0EAP/9BAAAAAQAAAAFtwAAAAAAAAAKABQAHgAyAEYAjACiAL4BFgE2AY4AAAABAAAADAA8AAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADQAAAAEAAAAAAAIABwCWAAEAAAAAAAMADQBIAAEAAAAAAAQADQCrAAEAAAAAAAUACwAnAAEAAAAAAAYADQBvAAEAAAAAAAoAGgDSAAMAAQQJAAEAGgANAAMAAQQJAAIADgCdAAMAAQQJAAMAGgBVAAMAAQQJAAQAGgC4AAMAAQQJAAUAFgAyAAMAAQQJAAYAGgB8AAMAAQQJAAoANADsd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzUmVndWxhcgBSAGUAZwB1AGwAYQByd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

h2,
h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.w-richtext:before,
.w-richtext:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-richtext:after {
  clear: both;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

:root {
  --bg-color--bg-secondary: var(--brand--neutral-light);
  --text-color--text-primary: var(--brand--black);
  --text-color--text-secondary: var(--brand--neutral);
  --brand--primary: #083630;
  --bg-color--bg-primary: var(--brand--neutral-lighter);
  --brand--soft-white: #fffc;
  --brand--neutral-light: #dad6c9;
  --brand--gray: #787878;
  --border-color--border-primary: #efeff2;
  --brand--neutral-lighter: #efeeeb;
  --bg-color--bg-tertiary: var(--brand--neutral-dark);
  --brand--white: #fff;
  --brand--secondary: #e6daff;
  --brand--black: #000;
  --bg-color--bg-alternate: var(--brand--primary);
  --brand--light-gray: #fafafa;
  --brand--neutral-dark: #111;
  --brand--primary-light: #1f514a;
  --brand--opaque-white: #ffffff80;
  --brand--neutral: #11111180;
  --border-color--border-secondary: #d4d4d8;
  --border-color--border-alternate: white;
  --link-color--link-primary: var(--brand--black);
  --link-color--link-alternate: white;
  --text-color--text-tertiary: var(--brand--soft-white);
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

p {
  color: var(--text-color--text-primary);
  margin-bottom: 0 !important;
  font-size: 0.88rem;
  line-height: 1.4;
}

p strong {
  color: var(--text-color--text-primary);
  font-size: 1.15rem;
  font-weight: 600;
}

a {
  color: inherit;
  font-size: 1rem;
  text-decoration: none;
}

ul {
  color: var(--text-color--text-secondary);
  font-size: 1rem;
}

ul li strong {
  color: var(--text-color--text-primary);
  font-weight: 600;
}

li::marker {
  color: var(--text-color--text-primary);
}

hr {
  border: none;
  margin: 1rem 0;
}

img {
  max-width: 100%;
  display: inline-block;
}

.padding-0 {
  padding: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.text-color-secondary {
  color: var(--text-color--text-secondary);
}

.text-rich-text h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h3 {
  letter-spacing: -0.04em;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}

.text-rich-text p {
  color: var(--text-color--text-secondary);
  letter-spacing: -0.04em;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
}

.container-small {
  width: 100%;
  max-width: 51.88rem;
  margin-left: auto;
  margin-right: auto;
}

.padding-global {
  padding-left: 3.62rem;
  padding-right: 3.62rem;
}

.text-weight-medium {
  font-weight: 500;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5;
}

.text-lg {
  letter-spacing: -0.03em;
  font-size: 1.125rem;
  line-height: 1.55;
}

.padding-section-large {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.main-wrapper {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  flex-flow: column;
  display: flex;
}

.text-5xl {
  letter-spacing: -0.06em;
  font-size: 3rem;
  line-height: 1.16;
}

.text-6xl {
  letter-spacing: -0.06em;
  font-size: 3.75rem;
  line-height: 1.2;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.content-wrap {
  grid-column-gap: 3.75rem;
  grid-row-gap: 3.75rem;
  flex-flow: column;
  flex: 1;
  display: flex;
}

.blogs_header {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.performance_content {
  grid-column-gap: 3.75rem;
  grid-row-gap: 3.75rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.performance_card {
  grid-column-gap: 0.62rem;
  grid-row-gap: 0.62rem;
  flex-flow: column;
  display: flex;
}

.img-wrapper {
  border-radius: inherit;
  position: absolute;
  inset: 0%;
  overflow: clip;
}

.section_article {
  background-color: var(--bg-color--bg-primary);
  border-radius: 1.5rem;
  overflow: clip;
}

.article_visual {
  border-radius: 1.5rem;
  padding-top: 42%;
  position: relative;
  overflow: clip;
}

.article_content {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  flex-flow: column;
  display: flex;
}

.performance_card h3 {
  color: #091b47;
}

.performance_card-description {
  color: #515151;
}

@media screen and (max-width: 991px) {
  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-global {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .text-5xl {
    font-size: 2.75rem;
  }

  .text-6xl {
    font-size: 3.125rem;
  }

  .content-wrap {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
  }

  .blogs_header {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    text-align: center;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .performance_content {
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
  }

  .section_article {
    border-radius: 1.25rem;
  }

  .article_visual {
    border-radius: 1.25rem;
  }

  .article_content {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .text-rich-text h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .text-rich-text p {
    margin-bottom: 1rem;
  }

  .padding-global {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .padding-section-large {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .main-wrapper {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }

  .text-5xl {
    font-size: 2.5rem;
  }

  .text-6xl {
    font-size: 3rem;
  }

  .content-wrap {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .performance_content {
    grid-column-gap: 2rem;
    grid-row-gap: 1.5rem;
    text-align: center;
  }

  .performance_content.is-secondary {
    text-align: left;
  }

  .section_article,
  .article_visual {
    border-radius: 1rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .text-5xl {
    font-size: 2rem;
  }

  .text-6xl {
    font-size: 2.325rem;
  }

  .content-wrap {
    grid-column-gap: 1.75rem;
    grid-row-gap: 1.75rem;
    justify-content: center;
    align-items: stretch;
  }

  .performance_content {
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
  }

  .article_visual {
    border-radius: 0.75rem;
    padding-top: 60%;
  }
}
