<css src="./hero.scss" />
<div class="single-solution-hero">
  <section class="section_hero-2nd">
    <div class="padding-global padding-section-large">
      <div class="content-wrap">
        <div class="hero-2nd_header">
          <div data-w-id="46ec85ba-cdb0-f563-bb73-e46a4c9dfb5a" style="
              opacity: 1;
              transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
              transform-style: preserve-3d;
            " class="hero-2nd_title">
            <h1 class="text-5xl">Build &amp; growth with scalable tools</h1>
          </div>
          <div class="hero-2nd_content">
            <div data-w-id="a815ae10-97d6-df9a-28cf-b2318b2062ea" style="
                            opacity: 1;
                            transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                              rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                            transform-style: preserve-3d;
                          " class="text-lg text-color-secondary">
              Smart LED lighting solutions for every application. Now serving industrial, offices, restaurants & more in
              the Charlotte, NC area!
            </div>

            <div class="hero-2nd_buttons-wrap">
              <div data-w-id="0ae81d1d-aa9b-99c9-48fb-f271b0f66b69" style="
                  opacity: 1;
                  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                  transform-style: preserve-3d;
                " class="button-wrapper">
                <a data-wf--primary-button--variant="with-icon" data-w-id="92bfed55-38a6-ba5a-9cf3-eed76b268ae3"
                  href="/contact" class="button is-primary w-inline-block">
                  <div class="button-text-wrap">
                    <div class="button-text is-firts" style="
                        transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                          rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                          skew(0deg, 0deg);
                        transform-style: preserve-3d;
                      ">
                      Contact Us
                    </div>
                    <div class="button-text is-second" style="
                        transform: translate3d(0px, 50%, 0px) scale3d(1, 1, 1)
                          rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                          skew(0deg, 0deg);
                        transform-style: preserve-3d;
                      ">
                      Contact Us
                    </div>
                    <div class="button-shadow-up"></div>
                    <div class="button-shadow-down"></div>
                  </div>
                  <img loading="lazy" src="/images/6776d41eecd929e7c8296552_arrow%20right.svg" alt=""
                    class="button-icon w-variant-0430e78c-6198-4121-8bff-0731d31f0de9" style="
                      transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    " />
                </a>
              </div>

            </div>

          </div>
        </div>
        <div class="hero-2nd_grid">
          <div id="w-node-adb9c2e5-5514-650a-271a-a80060aef9f3-81cdd6b0"
            data-w-id="adb9c2e5-5514-650a-271a-a80060aef9f3" class="hero-2nd_visual">
            <img class="img" src="/images/single-sol-hero.jpeg" alt="" style="
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                filter: blur(0px);
                transform-style: preserve-3d;
              " sizes="(max-width: 2048px) 100vw, 2048px" data-w-id="1f7041e2-cec2-d059-86d6-236602e8c9a9"
              loading="lazy" />
            <div style="
                filter: blur(0px);
                opacity: 1;
                transform: translate3d(0px, 4.1519%, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
                will-change: transform;
              " class="hero-2nd_tag-one">

            </div>
            <div style="
                filter: blur(0px);
                opacity: 1;
                transform: translate3d(0px, 0.8481%, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
                will-change: transform;
              " class="hero-2nd_tag-two">

            </div>
          </div>

          <div data-w-id="3baa266f-e618-fa8b-0ed9-3622ebf4fc79" class="hero-2nd_images">
            <div style="
                transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                opacity: 1;
                transform-style: preserve-3d;
              " class="hero-2nd_images-wrap">
              <div class="hero-2nd_image">
                <img src="/images/single-sol-graphics-1.png" loading="lazy" alt="" class="img" />
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>