.single-solution-metrics {
  --bg-color--bg-secondary: var(--brand--neutral-light);
  --text-color--text-primary: var(--brand--black);
  --text-color--text-secondary: var(--brand--neutral);
  --brand--primary: #083630;
  --bg-color--bg-primary: var(--brand--neutral-lighter);
  --brand--soft-white: #fffc;
  --brand--neutral-light: #dad6c9;
  --brand--gray: #787878;
  --border-color--border-primary: #efeff2;
  --brand--neutral-lighter: #efeeeb;
  --bg-color--bg-tertiary: var(--brand--neutral-dark);
  --brand--white: #fff;
  --brand--secondary: #fb4d17;
  --brand--black: #000;
  --bg-color--bg-alternate: var(--brand--primary);
  --brand--light-gray: #fafafa;
  --brand--neutral-dark: #111;
  --brand--primary-light: #1f514a;
  --brand--opaque-white: #ffffff80;
  --brand--neutral: #11111180;
  --border-color--border-secondary: #d4d4d8;
  --border-color--border-alternate: white;
  --link-color--link-primary: var(--brand--black);
  --link-color--link-alternate: white;
  --text-color--text-tertiary: var(--brand--soft-white);
  section {
    display: block;
  }

  a {
    background-color: #0000;
  }

  a:active,
  a:hover {
    outline: 0;
  }

  img {
    border: 0;
  }

  @font-face {
    font-family: webflow-icons;
    src: url("data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SBiUAAAC8AAAAYGNtYXDpP+a4AAABHAAAAFxnYXNwAAAAEAAAAXgAAAAIZ2x5ZmhS2XEAAAGAAAADHGhlYWQTFw3HAAAEnAAAADZoaGVhCXYFgQAABNQAAAAkaG10eCe4A1oAAAT4AAAAMGxvY2EDtALGAAAFKAAAABptYXhwABAAPgAABUQAAAAgbmFtZSoCsMsAAAVkAAABznBvc3QAAwAAAAAHNAAAACAAAwP4AZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpAwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAQAAAAAwACAACAAQAAQAg5gPpA//9//8AAAAAACDmAOkA//3//wAB/+MaBBcIAAMAAQAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEBIAAAAyADgAAFAAAJAQcJARcDIP5AQAGA/oBAAcABwED+gP6AQAABAOAAAALgA4AABQAAEwEXCQEH4AHAQP6AAYBAAcABwED+gP6AQAAAAwDAAOADQALAAA8AHwAvAAABISIGHQEUFjMhMjY9ATQmByEiBh0BFBYzITI2PQE0JgchIgYdARQWMyEyNj0BNCYDIP3ADRMTDQJADRMTDf3ADRMTDQJADRMTDf3ADRMTDQJADRMTAsATDSANExMNIA0TwBMNIA0TEw0gDRPAEw0gDRMTDSANEwAAAAABAJ0AtAOBApUABQAACQIHCQEDJP7r/upcAXEBcgKU/usBFVz+fAGEAAAAAAL//f+9BAMDwwAEAAkAABcBJwEXAwE3AQdpA5ps/GZsbAOabPxmbEMDmmz8ZmwDmvxmbAOabAAAAgAA/8AEAAPAAB0AOwAABSInLgEnJjU0Nz4BNzYzMTIXHgEXFhUUBw4BBwYjNTI3PgE3NjU0Jy4BJyYjMSIHDgEHBhUUFx4BFxYzAgBqXV6LKCgoKIteXWpqXV6LKCgoKIteXWpVSktvICEhIG9LSlVVSktvICEhIG9LSlVAKCiLXl1qal1eiygoKCiLXl1qal1eiygoZiEgb0tKVVVKS28gISEgb0tKVVVKS28gIQABAAABwAIAA8AAEgAAEzQ3PgE3NjMxFSIHDgEHBhUxIwAoKIteXWpVSktvICFmAcBqXV6LKChmISBvS0pVAAAAAgAA/8AFtgPAADIAOgAAARYXHgEXFhUUBw4BBwYHIxUhIicuAScmNTQ3PgE3NjMxOAExNDc+ATc2MzIXHgEXFhcVATMJATMVMzUEjD83NlAXFxYXTjU1PQL8kz01Nk8XFxcXTzY1PSIjd1BQWlJJSXInJw3+mdv+2/7c25MCUQYcHFg5OUA/ODlXHBwIAhcXTzY1PTw1Nk8XF1tQUHcjIhwcYUNDTgL+3QFt/pOTkwABAAAAAQAAmM7nP18PPPUACwQAAAAAANciZKUAAAAA1yJkpf/9/70FtgPDAAAACAACAAAAAAAAAAEAAAPA/8AAAAW3//3//QW2AAEAAAAAAAAAAAAAAAAAAAAMBAAAAAAAAAAAAAAAAgAAAAQAASAEAADgBAAAwAQAAJ0EAP/9BAAAAAQAAAAFtwAAAAAAAAAKABQAHgAyAEYAjACiAL4BFgE2AY4AAAABAAAADAA8AAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADQAAAAEAAAAAAAIABwCWAAEAAAAAAAMADQBIAAEAAAAAAAQADQCrAAEAAAAAAAUACwAnAAEAAAAAAAYADQBvAAEAAAAAAAoAGgDSAAMAAQQJAAEAGgANAAMAAQQJAAIADgCdAAMAAQQJAAMAGgBVAAMAAQQJAAQAGgC4AAMAAQQJAAUAFgAyAAMAAQQJAAYAGgB8AAMAAQQJAAoANADsd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzUmVndWxhcgBSAGUAZwB1AGwAYQByd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==")
      format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  * {
    box-sizing: border-box;
  }

  img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
  }

  h3 {
    margin-bottom: 10px;
    font-weight: bold;
  }

  h3 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 30px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
  }

  a {
    color: inherit;
    font-size: 1rem;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    display: inline-block;
  }

  .text-color-secondary {
    color: var(--text-color--text-secondary);
  }

  .padding-global {
    padding-left: 3.62rem;
    padding-right: 3.62rem;
  }

  .text-weight-medium {
    font-weight: 500;
  }

  .text-base {
    font-size: 1rem;
    line-height: 1.5;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .container-large {
    width: 100%;
    max-width: 72.25rem;
    margin-left: auto;
    margin-right: auto;
  }

  .text-5xl {
    letter-spacing: -0.06em;
    font-size: 3rem;
    line-height: 1.16;
  }

  .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
    transition: all 0.5s ease;
  }

  .img-wrapper {
    border-radius: inherit;
    position: absolute;
    inset: 0%;
    overflow: clip;
  }

  .section_metrics {
    background-color: #fff;
    border-radius: 1.5rem;
    overflow: clip;
  }

  .metrics_grid {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  #w-node-ae12b9cf-31ae-a189-d967-028cc1638d9c-c16c629c {
    grid-row: 1 / 5 !important; //
    grid-column: 2 !important; //
  }

  @media screen and (max-width: 767px) {
    #w-node-ae12b9cf-31ae-a189-d967-028cc1638d9c-c16c629c {
      grid-area: span 1 / span 1 / span 1 / span 1 !important;
    }
  }

  .metrics_visual {
    border-radius: 1.5rem;
    padding-top: 0%;
    position: relative;
    overflow: clip;
  }

  .metrics_card {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    background-color: #eeeeee;
    border-radius: 1.5rem;
    justify-content: flex-start;
    align-items: center;
    padding: 1.88rem;
    display: flex;
  }

  .metrics_card-content-left {
    grid-column-gap: 0.62rem;
    grid-row-gap: 0.62rem;
    flex-flow: column;
    flex: none;
    display: flex;

    .text-5xl {
      color: #111111;
      // letter-spacing: 0.02em;
    }
  }

  @media screen and (max-width: 991px) {
    .padding-global {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }

    .text-5xl {
      font-size: 2.75rem;
    }

    .section_metrics {
      border-radius: 1.25rem;
    }

    .metrics_grid {
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      grid-template-rows: auto auto auto;
    }

    .metrics_visual {
      border-radius: 1rem;
    }

    .metrics_card {
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      border-radius: 1rem;
      flex-flow: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 1.25rem;
    }

    .metrics_card-content-left {
      grid-column-gap: 0.25rem;
      grid-row-gap: 0.25rem;
    }
  }

  @media screen and (max-width: 767px) {
    h3 {
      font-size: 1.5rem;
    }

    .padding-global {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .padding-section-large {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    .text-5xl {
      font-size: 2.5rem;
    }

    .section_metrics {
      border-radius: 1rem;
    }

    .metrics_grid {
      grid-template-columns: 1fr;
    }
    #w-node-ae12b9cf-31ae-a189-d967-028cc1638d9c-c16c629c {
      grid-column: unset !important;
    }
    .metrics_visual {
      border-radius: 1rem;
      padding-top: 88%;
    }

    .metrics_card {
      border-radius: 1rem;
    }
  }

  @media screen and (max-width: 479px) {
    .container-large {
      max-width: 100%;
    }

    .text-5xl {
      font-size: 2rem;
    }

    .metrics_visual {
      border-radius: 0.75rem;
      padding-top: 115%;
    }

    .metrics_card {
      grid-column-gap: 0.75rem;
      grid-row-gap: 0.75rem;
      border-radius: 0.75rem;
      padding: 1rem;
    }
  }

  #w-node-ae12b9cf-31ae-a189-d967-028cc1638d9c-c16c629c {
    grid-area: span 4 / span 1 / span 4 / span 1;
  }

  @media screen and (max-width: 991px) {
    #w-node-ae12b9cf-31ae-a189-d967-028cc1638d9c-c16c629c {
      grid-area: 1 / 2 / 3 / 3;
    }
  }

  @media screen and (max-width: 767px) {
    #w-node-ae12b9cf-31ae-a189-d967-028cc1638d9c-c16c629c {
      grid-area: span 1 / span 1 / span 1 / span 1;
    }
  }
}
