.our-company-hero {
  --bg-color--bg-secondary: var(--brand--neutral-light);
  --text-color--text-primary: var(--brand--black);
  --text-color--text-secondary: var(--brand--neutral);
  --brand--primary: #083630;
  --bg-color--bg-primary: var(--brand--neutral-lighter);
  --brand--soft-white: #fffc;
  --brand--neutral-light: #dad6c9;
  --brand--gray: #787878;
  --border-color--border-primary: #efeff2;
  --brand--neutral-lighter: #efeeeb;
  --bg-color--bg-tertiary: var(--brand--neutral-dark);
  --brand--white: #fff;
  --brand--secondary: #fb4d17;
  --brand--black: #000;
  --bg-color--bg-alternate: var(--brand--primary);
  --brand--light-gray: #fafafa;
  --brand--neutral-dark: #111;
  --brand--primary-light: #1f514a;
  --brand--opaque-white: #ffffff80;
  --brand--neutral: #11111180;
  --border-color--border-secondary: #d4d4d8;
  --border-color--border-alternate: white;
  --link-color--link-primary: var(--brand--black);
  --link-color--link-alternate: white;
  --text-color--text-tertiary: var(--brand--soft-white);

  section {
    display: block;
  }

  h1 {
    margin: 0.67em 0;
    font-size: 2em;
  }

  img {
    border: 0;
  }

  @font-face {
    font-family: webflow-icons;
    src: url("data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SBiUAAAC8AAAAYGNtYXDpP+a4AAABHAAAAFxnYXNwAAAAEAAAAXgAAAAIZ2x5ZmhS2XEAAAGAAAADHGhlYWQTFw3HAAAEnAAAADZoaGVhCXYFgQAABNQAAAAkaG10eCe4A1oAAAT4AAAAMGxvY2EDtALGAAAFKAAAABptYXhwABAAPgAABUQAAAAgbmFtZSoCsMsAAAVkAAABznBvc3QAAwAAAAAHNAAAACAAAwP4AZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpAwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAQAAAAAwACAACAAQAAQAg5gPpA//9//8AAAAAACDmAOkA//3//wAB/+MaBBcIAAMAAQAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEBIAAAAyADgAAFAAAJAQcJARcDIP5AQAGA/oBAAcABwED+gP6AQAABAOAAAALgA4AABQAAEwEXCQEH4AHAQP6AAYBAAcABwED+gP6AQAAAAwDAAOADQALAAA8AHwAvAAABISIGHQEUFjMhMjY9ATQmByEiBh0BFBYzITI2PQE0JgchIgYdARQWMyEyNj0BNCYDIP3ADRMTDQJADRMTDf3ADRMTDQJADRMTDf3ADRMTDQJADRMTAsATDSANExMNIA0TwBMNIA0TEw0gDRPAEw0gDRMTDSANEwAAAAABAJ0AtAOBApUABQAACQIHCQEDJP7r/upcAXEBcgKU/usBFVz+fAGEAAAAAAL//f+9BAMDwwAEAAkAABcBJwEXAwE3AQdpA5ps/GZsbAOabPxmbEMDmmz8ZmwDmvxmbAOabAAAAgAA/8AEAAPAAB0AOwAABSInLgEnJjU0Nz4BNzYzMTIXHgEXFhUUBw4BBwYjNTI3PgE3NjU0Jy4BJyYjMSIHDgEHBhUUFx4BFxYzAgBqXV6LKCgoKIteXWpqXV6LKCgoKIteXWpVSktvICEhIG9LSlVVSktvICEhIG9LSlVAKCiLXl1qal1eiygoKCiLXl1qal1eiygoZiEgb0tKVVVKS28gISEgb0tKVVVKS28gIQABAAABwAIAA8AAEgAAEzQ3PgE3NjMxFSIHDgEHBhUxIwAoKIteXWpVSktvICFmAcBqXV6LKChmISBvS0pVAAAAAgAA/8AFtgPAADIAOgAAARYXHgEXFhUUBw4BBwYHIxUhIicuAScmNTQ3PgE3NjMxOAExNDc+ATc2MzIXHgEXFhcVATMJATMVMzUEjD83NlAXFxYXTjU1PQL8kz01Nk8XFxcXTzY1PSIjd1BQWlJJSXInJw3+mdv+2/7c25MCUQYcHFg5OUA/ODlXHBwIAhcXTzY1PTw1Nk8XF1tQUHcjIhwcYUNDTgL+3QFt/pOTkwABAAAAAQAAmM7nP18PPPUACwQAAAAAANciZKUAAAAA1yJkpf/9/70FtgPDAAAACAACAAAAAAAAAAEAAAPA/8AAAAW3//3//QW2AAEAAAAAAAAAAAAAAAAAAAAMBAAAAAAAAAAAAAAAAgAAAAQAASAEAADgBAAAwAQAAJ0EAP/9BAAAAAQAAAAFtwAAAAAAAAAKABQAHgAyAEYAjACiAL4BFgE2AY4AAAABAAAADAA8AAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADQAAAAEAAAAAAAIABwCWAAEAAAAAAAMADQBIAAEAAAAAAAQADQCrAAEAAAAAAAUACwAnAAEAAAAAAAYADQBvAAEAAAAAAAoAGgDSAAMAAQQJAAEAGgANAAMAAQQJAAIADgCdAAMAAQQJAAMAGgBVAAMAAQQJAAQAGgC4AAMAAQQJAAUAFgAyAAMAAQQJAAYAGgB8AAMAAQQJAAoANADsd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzUmVndWxhcgBSAGUAZwB1AGwAYQByd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==")
      format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  * {
    box-sizing: border-box;
  }

  img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
  }

  h1,
  h3 {
    margin-bottom: 10px;
    font-weight: bold;
  }

  h1 {
    margin-top: 20px;
    font-size: 38px;
    line-height: 44px;
  }

  h3 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 30px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
  }

  img {
    max-width: 100%;
    display: inline-block;
  }

  .text-color-secondary {
    color: var(--text-color--text-secondary);
  }

  .padding-global {
    padding-left: 3.62rem;
    padding-right: 3.62rem;
  }

  .text-weight-medium {
    font-weight: 500;
  }

  .text-base {
    font-size: 1rem;
    line-height: 1.5;
  }

  .text-lg {
    letter-spacing: -0.03em;
    font-size: 1.125rem;
    line-height: 1.55;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-5xl {
    letter-spacing: -0.06em;
    font-size: 3rem;
    line-height: 1.16;
  }

  .text-6xl {
    letter-spacing: -0.06em;
    font-size: 3.75rem;
    line-height: 1.2;
  }

  .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
    transition: all 0.5s ease;
  }

  .content-wrap {
    grid-column-gap: 3.75rem;
    grid-row-gap: 3.75rem;
    flex-flow: column;
    flex: 1;
    display: flex;
  }

  .performance_card {
    grid-column-gap: 0.62rem;
    grid-row-gap: 0.62rem;
    flex-flow: column;
    display: flex;
  }

  .section_about-hero {
    background-color: #fff;
    border-radius: 1.5rem;
    overflow: clip;
  }

  .about-hero_header {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
  }

  .about-hero_header.is-secondary {
    text-align: center;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .about-hero_title {
    // max-width: 27.875rem;
  }

  .about-hero_title.is-secondary {
    // max-width: 50.625rem;
  }

  .about-hero_description {
    // max-width: 27.6rem;
  }

  .about-hero_visual {
    border-radius: 1.5rem;
    width: 100%;

    position: relative;
    overflow: clip;
  }

  .img-wrapper {
    border-radius: inherit;
    position: absolute;
    inset: 0%;
    overflow: clip;
  }

  .about-hero_content-bottom {
    grid-column-gap: 3.75rem;
    grid-row-gap: 3.75rem;
    background-color: #eee;
    border-radius: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    padding: 1.88rem;
    display: grid;

    h3 {
      color: #111111;
      letter-spacing: 1px;
      // font-weight: unset;
    }
  }

  .about-hero_card {
    grid-column-gap: 0.62rem;
    grid-row-gap: 0.62rem;
    flex-flow: column;
    display: flex;
  }

  .about-hero_content {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: column;
    flex: 1;
    display: flex;
  }

  .video-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 750px;
    overflow: hidden;
  }

  .hero-video {
    width: 100%;
    height: 100%;
    max-height: 750px;
    object-fit: cover;
    transition: all 0.3s ease;
  }

  .hero-video {
    width: 100%;
    height: 100%;
    max-height: 750px;
    object-fit: cover;
    transition: all 0.3s ease;
    overflow: hidden;
    border-radius: 16px;
  }

  .video-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    transition: opacity 0.3s ease;
    background: #091B47;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .video-container:hover .video-controls {
    opacity: 1;
  }

  .play-pause-btn {
    background: none;
    border: none;
    color: #E6DAFF;
    cursor: pointer;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .play-pause-btn svg {
    width: 30px;
    height: 30px;
    fill: currentColor;
    transition: fill 0.2s ease;
  }

  .play-pause-btn:hover svg {
    fill: #fff;
  }

  .img-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 750px;
  }

  // @media screen and (max-width: 4560px) {
  //   .img-wrapper {
  //     min-height: 1650px !important;
  //     max-height: auto !important;
  //   }

  //   .video-container {
  //     min-height: 1650px !important;
  //     max-height: auto !important;
  //   }

  //   .hero-video {
  //     min-height: 1650px !important;
  //     max-height: auto !important;
  //   }
  // }

  // @media screen and (max-width: 3560px) {
  //   .img-wrapper {
  //     min-height: 1250px !important;
  //     max-height: auto !important;
  //   }

  //   .video-container {
  //     min-height: 1250px !important;
  //     max-height: auto !important;
  //   }

  //   .hero-video {
  //     min-height: 1250px !important;
  //     max-height: auto !important;
  //   }
  // }

  // @media screen and (max-width: 2560px) {
  //   .img-wrapper {
  //     min-height: 1050px !important;
  //     max-height: auto !important;
  //   }

  //   .video-container {
  //     min-height: 1050px !important;
  //     max-height: auto !important;
  //   }

  //   .hero-video {
  //     min-height: 1050px !important;
  //     max-height: auto !important;
  //   }
  // }

  @media screen and (max-width: 991px) {
    .padding-global {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }

    .text-5xl {
      font-size: 2.75rem;
    }

    .text-6xl {
      font-size: 3.125rem;
    }

    .content-wrap {
      grid-column-gap: 2.5rem;
      grid-row-gap: 2.5rem;
    }

    .section_about-hero {
      border-radius: 1.25rem;
    }

    .about-hero_header {
      grid-column-gap: 1.25rem;
      grid-row-gap: 1.25rem;
      justify-content: space-between;
      align-items: center;
    }

    .about-hero_visual {
      border-radius: 1.25rem;
    }

    .about-hero_content-bottom {
      grid-row-gap: 2rem;
      border-radius: 1.25rem;
      grid-template-columns: 1fr 1fr;
      padding: 1.5rem;
    }
  }

  @media screen and (max-width: 767px) {
    h1 {
      font-size: 2.5rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    .padding-global {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .padding-section-large {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    .text-5xl {
      font-size: 2.5rem;
    }

    .text-6xl {
      font-size: 3rem;
    }

    .content-wrap {
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
    }

    .section_about-hero {
      border-radius: 1rem;
    }

    .about-hero_header {
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      text-align: center;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
    }

    .about-hero_visual {
      border-radius: 0.75rem;
    }

    .about-hero_content-bottom {
      grid-column-gap: 2rem;
      grid-row-gap: 1.5rem;
      text-align: center;
      border-radius: 0.75rem;
      padding: 1.25rem;
    }

    .about-hero_content {
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
    }
  }

  @media screen and (max-width: 479px) {
    .text-5xl {
      font-size: 2rem;
    }

    .text-6xl {
      font-size: 2.325rem;
    }

    .content-wrap {
      grid-column-gap: 1.75rem;
      grid-row-gap: 1.75rem;
      justify-content: center;
      align-items: stretch;
    }

    .about-hero_header {
      grid-column-gap: 0.75rem;
      grid-row-gap: 0.75rem;
    }

    .about-hero_visual {
      padding-top: 65%;
    }

    .about-hero_content-bottom {
      // grid-template-columns: 1fr;
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      padding: 1rem;
      text-align: left;
    }

    .about-hero_card,
    .performance_card {
      // flex-flow: row;
    }
  }
}
